<div class="modal-header">
  <div class="modal-title" translate="Portal.RbacManagement.AddRoleAssignment.Title"></div>
  <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="text-secondary small mb-4">
    <span
      [translate]="'Portal.RbacManagement.AddRoleAssignment.StepTitle.SelectRole'"
      [ngClass]="{ 'text-decoration-underline': step === 'SelectRole' }"></span>
    <span> &middot; </span>
    <span
      [translate]="'Portal.RbacManagement.AddRoleAssignment.StepTitle.SelectPrincipal'"
      [ngClass]="{ 'text-decoration-underline': step === 'SelectPrincipal' }"></span>
  </div>

  @switch (step) {
    @case ('SelectRole') {
      <table class="table table-bordered">
        <tbody>
          @for (role of availableRoles; track role) {
            <tr>
              <td>
                <div
                  [ngClass]="{ 'fw-bold text-decoration-underline': role === selectedRole }"
                  [translate]="'Portal.RbacManagement.RoleName.' + role"></div>
                <div class="small text-secondary" [translate]="'Portal.RbacManagement.RoleDescription.' + role"></div>
              </td>
              <td style="width: 1px" class="align-middle">
                <tp-action-button [mode]="'IconOnly'" [icon]="'arrow-right-circle'" (buttonClick)="selectRole(role)" />
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
    @case ('SelectPrincipal') {
      <div class="mb-3" translate="Portal.RbacManagement.AddRoleAssignment.AddAssignmentInfo"></div>
      <div class="mb-3">
        <span translate="Portal.RbacManagement.AddRoleAssignment.SelectedRole"></span>
        <span class="ms-2 fw-bold" [translate]="'Portal.RbacManagement.RoleName.' + selectedRole"></span>
      </div>
      <div class="d-flex flex-row align-items-center gap-2">
        <div class="btn-group" role="group">
          <input
            type="radio"
            class="btn-check"
            name="addAssignment_principalKind"
            id="addAssignment_principalKind_user"
            [value]="PrincipalKind.User"
            [(ngModel)]="selectedPrincipalKind" />
          <label
            class="btn btn-sm btn-outline-secondary"
            for="addAssignment_principalKind_user"
            [ngbTooltip]="'Portal.RbacManagement.PrincipalKind.User' | translate">
            <i class="bi bi-person"></i>
          </label>
          <input
            type="radio"
            class="btn-check"
            name="addAssignment_principalKind"
            id="addAssignment_principalKind_apiKey"
            [value]="PrincipalKind.ApiKey"
            [(ngModel)]="selectedPrincipalKind" />
          <label
            class="btn btn-sm btn-outline-secondary"
            for="addAssignment_principalKind_apiKey"
            [ngbTooltip]="'Portal.RbacManagement.PrincipalKind.ApiKey' | translate">
            <i class="bi bi-key"></i>
          </label>
        </div>

        <input
          type="text"
          [placeholder]="'Portal.RbacManagement.AddRoleAssignment.SearchPrincipalPlaceholder.' + selectedPrincipalKind | translate"
          [(ngModel)]="searchPrincipalInput"
          class="flex-grow-1 form-control form-control-sm" />

        @let createDisabled = isCreatingRoleAssignment || searchPrincipalInput.length === 0;
        <div [ngClass]="{ 'tp-cursor-not-allowed': createDisabled }">
          <tp-action-button
            [icon]="'search'"
            [title]="'Portal.RbacManagement.AddRoleAssignment.SearchPrincipalButton'"
            [disabled]="createDisabled"
            (buttonClick)="addRoleAssignment()" />
        </div>
      </div>

      @if (isCreatingRoleAssignment) {
        <div class="mt-3 d-flex flex-row gap-2">
          <tp-small-spinner />
          <span translate="Portal.RbacManagement.AddRoleAssignment.CreatingRoleAssignment"></span>
        </div>
      }
    }
  }
</div>
<div class="modal-footer">
  @if (step === 'SelectRole') {
    <tp-action-button [type]="'outline-secondary'" [title]="'Portal.General.Cancel'" (buttonClick)="modal.dismiss()" />
  } @else {
    <tp-action-button
      [type]="'outline-dark'"
      [title]="'Portal.RbacManagement.AddRoleAssignment.PreviousStep'"
      [icon]="'arrow-left-circle'"
      (buttonClick)="previousStep()" />
  }
  <span class="flex-grow-1"></span>
  @if (step === 'SelectRole') {
    @let nextDisabled = selectedRole === undefined;
    <div [ngClass]="{ 'tp-cursor-not-allowed': nextDisabled }">
      <tp-action-button
        [type]="'outline-dark'"
        [title]="'Portal.RbacManagement.AddRoleAssignment.NextStep'"
        [icon]="'arrow-right-circle'"
        [disabled]="nextDisabled"
        (buttonClick)="nextStep()" />
    </div>
  }
</div>
