<div class="modal-header">
  <h4 class="modal-title" translate="Portal.ViewTournament.Settings.EditComputationConfig.Title"></h4>
  <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="mb-2 row align-items-center">
    <div class="col-4">
      <label
        class="form-label mb-0"
        for="matchWonPoints"
        translate="Portal.ViewTournament.Settings.EditComputationConfig.Properties.MatchWonPoints"
      ></label>
    </div>
    <div class="col-8">
      <input
        class="form-control form-control-sm"
        id="matchWonPoints"
        type="number"
        style="max-width: 8em"
        [min]="0"
        [max]="100"
        [(ngModel)]="matchWonPoints"
        [ngClass]="{ 'is-invalid': matchWonPointsInvalid }"
      />
    </div>
  </div>

  <div class="mb-2 row align-items-center">
    <div class="col-4">
      <label
        class="form-label mb-0"
        for="matchDrawnPoints"
        translate="Portal.ViewTournament.Settings.EditComputationConfig.Properties.MatchDrawnPoints"
      ></label>
    </div>
    <div class="col-8">
      <input
        class="form-control form-control-sm"
        id="matchDrawnPoints"
        type="number"
        style="max-width: 8em"
        [min]="0"
        [max]="100"
        [(ngModel)]="matchDrawnPoints"
        [ngClass]="{ 'is-invalid': matchDrawnPointsInvalid }"
      />
    </div>
  </div>

  <div class="mb-4 row align-items-center">
    <div class="col-4">
      <label
        class="form-label mb-0"
        for="matchLostPoints"
        translate="Portal.ViewTournament.Settings.EditComputationConfig.Properties.MatchLostPoints"
      ></label>
    </div>
    <div class="col-8">
      <input
        class="form-control form-control-sm"
        id="matchLostPoints"
        type="number"
        style="max-width: 8em"
        [min]="0"
        [max]="100"
        [(ngModel)]="matchLostPoints"
        [ngClass]="{ 'is-invalid': matchLostPointsInvalid }"
      />
    </div>
  </div>

  <label
    class="form-label"
    for="comparisonModes"
    translate="Portal.ViewTournament.Settings.EditComputationConfig.Properties.ComparisonModes.Label"
  ></label>
  <select
    class="form-select"
    id="comparisonModes"
    [(ngModel)]="comparisonModeOptionId"
    [ngClass]="{ 'is-invalid': comparisonModesInvalid }"
  >
    <option
      value=""
      class="text-secondary"
      disabled
      translate="Portal.ViewTournament.ComputationConfigurationDialog.StandardComparisonModes"
    ></option>
    @for (entry of standardComparisonModeOptions; track entry.id) {
      <option [value]="entry.id">
        @for (mode of entry.modes; track mode; let isLast = $last) {
          <span>{{ "Portal.ViewTournament.Settings.EditComputationConfig.Properties.ComparisonModes.Values." + mode | translate }}</span>
          @if (!isLast) {
            <span>,&nbsp;</span>
          }
        }
      </option>
    }
    <option
      value=""
      class="text-secondary"
      disabled
      translate="Portal.ViewTournament.ComputationConfigurationDialog.NonStandardComparisonModes"
    ></option>
    @for (entry of nonStandardComparisonModeOptions; track entry.id) {
      <option [value]="entry.id">
        @for (mode of entry.modes; track mode; let isLast = $last) {
          <span>{{ "Portal.ViewTournament.Settings.EditComputationConfig.Properties.ComparisonModes.Values." + mode | translate }}</span>
          @if (!isLast) {
            <span>,&nbsp;</span>
          }
        }
      </option>
    }
  </select>
</div>
<div class="modal-footer">
  @if (isSaving) {
    <tp-small-spinner />
  } @else {
    <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Cancel'" (click)="modal.dismiss()" />
    <tp-action-button [type]="'success'" [title]="'Portal.General.Save'" (click)="saveClicked()" />
  }
</div>
