@if (navigationTabs) {
  <div class="border-bottom shadow-sm pt-5">
    <div
      [ngClass]="ultraSlim ? 'tp-ultra-slim-container' : 'container'"
      class="d-flex flex-row flex-wrap align-items-end justify-content-start">
      @for (tab of navigationTabs; track tab.id) {
        @let isTabDisabled =
          tab.authorization !== undefined &&
          (!contextEntityId || ((authorizationService.isActionNotAllowed$(contextEntityId, tab.authorization) | async) ?? false));

        <div
          class="tp-navigation-tab px-3 py-1 d-flex flex-row gap-2"
          [ngClass]="{
            'tp-cursor-not-allowed text-secondary': isTabDisabled,
            'tp-text-shadow tp-navigation-tab-selected tp-cursor-default': !isTabDisabled && tab.id === currentTabId,
            'tp-cursor-pointer': !isTabDisabled && tab.id !== currentTabId
          }"
          (click)="!isTabDisabled && toggleNavigationTab(tab.id)">
          <i class="bi" [ngClass]="tab.icon"></i>
          <span>{{ tab.title | translate }}</span>
        </div>
      }
    </div>
  </div>
}

<div class="mt-5" [ngClass]="{ 'tp-ultra-slim-container': ultraSlim, container: !ultraSlim }">
  @if (preContent) {
    <ng-container [ngTemplateOutlet]="preContent" />
  }

  <div class="d-flex flex-row flex-wrap align-items-center gap-2" [ngClass]="{ 'mt-4': preContent !== undefined }">
    @if (backLink) {
      <i
        class="fs-5 bi bi-arrow-left-circle me-2 tp-cursor-pointer"
        [attr.aria-label]="'Portal.General.Back' | translate"
        [routerLink]="backLink"></i>
    }
    <span class="fs-4 fw-bold" data-cy="page-frame-title">{{ title ?? '' }}</span>
    <div class="flex-grow-1"></div>
    @if (buttons) {
      <ng-container [ngTemplateOutlet]="buttons" />
    }
  </div>

  @if (!hideMainContent) {
    <div class="mt-4">
      @if (mainContent) {
        <ng-container [ngTemplateOutlet]="mainContent" />
      } @else {
        <ng-content />
      }
    </div>
  }
</div>

@if (fullWidthContent) {
  <ng-container [ngTemplateOutlet]="fullWidthContent" />
}

<!-- Add some "padding" so that the user can scroll further down than originally. -->
<div style="height: 7em"></div>
