.angular
node_modules
dist

# Code coverage reports
coverage

# Generated typescript code
src/app/api/*
src/app/generated/*

# Local chrome installation
chrome

# E2E test results
playwright-report
test-results
