<div class="modal-header">
  <h4 class="modal-title" translate="Portal.RbacManagement.AddRoleAssignment.Title"></h4>
  <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="text-secondary small mb-4">
    <span
      [translate]="'Portal.RbacManagement.AddRoleAssignment.StepTitle.SelectRole'"
      [ngClass]="{ 'text-decoration-underline': step === 'SelectRole' }"></span>
    <span> &middot; </span>
    <span
      [translate]="'Portal.RbacManagement.AddRoleAssignment.StepTitle.SelectPrincipal'"
      [ngClass]="{ 'text-decoration-underline': step === 'SelectPrincipal' }"></span>
    <span> &middot; </span>
    <span
      [translate]="'Portal.RbacManagement.AddRoleAssignment.StepTitle.Confirm'"
      [ngClass]="{ 'text-decoration-underline': step === 'Confirm' }"></span>
  </div>

  @switch (step) {
    @case ('SelectRole') {
      <table class="table table-bordered">
        <tbody>
          @for (role of availableRoles; track role) {
            <tr>
              <td>
                <div
                  [ngClass]="{ 'fw-bold text-decoration-underline': role === selectedRole }"
                  [translate]="'Portal.RbacManagement.RoleName.' + role"></div>
                <div class="small text-secondary" [translate]="'Portal.RbacManagement.RoleDescription.' + role"></div>
              </td>
              <td style="width: 1px" class="align-middle">
                <tp-action-button [mode]="'IconOnly'" [icon]="'arrow-right-circle'" (click)="selectRole(role)" />
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
    @case ('SelectPrincipal') {
      <div class="mb-3 d-flex flex-row align-items-center gap-2">
        <input
          type="text"
          [placeholder]="'Portal.RbacManagement.AddRoleAssignment.SearchPrincipalPlaceholder' | translate"
          [(ngModel)]="searchPrincipalInput"
          class="flex-grow-1 form-control form-control-sm" />
        <tp-action-button
          [icon]="'search'"
          [title]="'Portal.RbacManagement.AddRoleAssignment.SearchPrincipalButton'"
          (click)="searchPrincipal()" />
      </div>

      @if (selectedPrincipals.length === 0) {
        <div class="small text-secondary fst-italic" translate="Portal.RbacManagement.AddRoleAssignment.NoPrincipalsSelected"></div>
      } @else {
        <table class="table table-bordered">
          <tbody>
            @for (principal of selectedPrincipals; track principal; let index = $index) {
              <tr>
                <td class="align-middle">
                  <tp-rbac-principal [principal]="principal" />
                </td>
                <td style="width: 1px" class="align-middle">
                  <tp-action-button [type]="'outline-danger'" [mode]="'IconOnly'" [icon]="'trash'" (click)="removePrincipal(index)" />
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
    }
    @case ('Confirm') {
      <div class="mb-3" translate="Portal.RbacManagement.AddRoleAssignment.ConfirmMessage"></div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td translate="Portal.RbacManagement.AddRoleAssignment.ConfirmTable.Role"></td>
            <td>
              <div [translate]="'Portal.RbacManagement.RoleName.' + selectedRole"></div>
              <div class="small text-secondary" [translate]="'Portal.RbacManagement.RoleDescription.' + selectedRole"></div>
            </td>
          </tr>
          <tr>
            <td translate="Portal.RbacManagement.AddRoleAssignment.ConfirmTable.Principals"></td>
            <td>
              @for (principal of selectedPrincipals; track principal) {
                <div>
                  <tp-rbac-principal [principal]="principal" />
                </div>
              }
            </td>
          </tr>
        </tbody>
      </table>
    }
  }
</div>
<div class="modal-footer">
  @if (step === 'SelectRole') {
    <tp-action-button [type]="'outline-secondary'" [title]="'Portal.General.Cancel'" (click)="modal.dismiss()" />
  } @else {
    <tp-action-button
      [type]="'outline-dark'"
      [title]="'Portal.RbacManagement.AddRoleAssignment.PreviousStep'"
      [icon]="'arrow-left-circle'"
      (click)="previousStep()" />
  }
  <span class="flex-grow-1"></span>
  @if (step === 'Confirm') {
    <tp-action-button [type]="'success'" [title]="'Portal.RbacManagement.AddRoleAssignment.Confirm'" (click)="confirm()" />
  } @else {
    @let nextDisabled =
      (step === 'SelectRole' && selectedRole === undefined) || (step === 'SelectPrincipal' && selectedPrincipals.length === 0);
    <div [ngClass]="{ 'tp-cursor-not-allowed': nextDisabled }">
      <tp-action-button
        [type]="'outline-dark'"
        [title]="'Portal.RbacManagement.AddRoleAssignment.NextStep'"
        [icon]="'arrow-right-circle'"
        [disabled]="nextDisabled"
        (click)="nextStep()" />
    </div>
  }
</div>
