<div class="modal-header">
  <h4 class="modal-title" translate="Portal.RbacManagement.AddRoleAssignment.Title"></h4>
  <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="text-secondary small mb-4">
    <span
      [translate]="'Portal.RbacManagement.AddRoleAssignment.StepTitle.SelectRole'"
      [ngClass]="{ 'text-decoration-underline': step === 'SelectRole' }"></span>
    <span> &middot; </span>
    <span
      [translate]="'Portal.RbacManagement.AddRoleAssignment.StepTitle.SelectPrincipal'"
      [ngClass]="{ 'text-decoration-underline': step === 'SelectPrincipal' }"></span>
    <span> &middot; </span>
    <span
      [translate]="'Portal.RbacManagement.AddRoleAssignment.StepTitle.Confirm'"
      [ngClass]="{ 'text-decoration-underline': step === 'Confirm' }"></span>
  </div>

  @switch (step) {
    @case ('SelectRole') {
      <table class="table table-bordered">
        <tbody>
          @for (role of availableRoles; track role) {
            <tr>
              <td>
                <div
                  [ngClass]="{ 'fw-bold text-decoration-underline': role === selectedRole }"
                  [translate]="'Portal.RbacManagement.RoleName.' + role"></div>
                <div class="small text-secondary" [translate]="'Portal.RbacManagement.RoleDescription.' + role"></div>
              </td>
              <td style="width: 1px" class="align-middle">
                <tp-action-button [mode]="'IconOnly'" [icon]="'arrow-right-circle'" (click)="selectRole(role)" />
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
    @case ('SelectPrincipal') {}
    @case ('Confirm') {}
  }
</div>
<div class="modal-footer">
  @if (step === 'SelectRole') {
    <tp-action-button [type]="'outline-secondary'" [title]="'Portal.General.Cancel'" (click)="modal.dismiss()" />
  } @else {
    <tp-action-button
      [type]="'outline-dark'"
      [title]="'Portal.RbacManagement.AddRoleAssignment.PreviousStep'"
      [icon]="'arrow-left-circle'"
      (click)="previousStep()" />
  }
  <span class="flex-grow-1"></span>
  @if (step === 'Confirm') {
    <tp-action-button [type]="'success'" [title]="'Portal.RbacManagement.AddRoleAssignment.Confirm'" (click)="confirm()" />
  } @else {
    <tp-action-button
      [type]="'outline-dark'"
      [title]="'Portal.RbacManagement.AddRoleAssignment.NextStep'"
      [icon]="'arrow-right-circle'"
      (click)="nextStep()" />
  }
</div>
