<tp-page-frame *tpLoadingState="loadingState" [ultraSlim]="true" [title]="'Portal.CreateUser.LongTitle' | translate" [backLink]="'../..'">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="create_user_name" class="form-label" translate="Portal.CreateUser.Form.UserName"></label>
      <input
        id="create_user_name"
        type="text"
        class="form-control"
        formControlName="userName"
        [required]="true"
        [minlength]="1"
        [maxlength]="100"
        [ngClass]="userNameControl.dirty || userNameControl.touched ? (userNameControl.invalid ? 'is-invalid' : 'is-valid') : ''"
      />
      <div class="invalid-feedback" translate="Portal.CreateUser.Form.UserNameInvalid"></div>
    </div>

    <div class="mb-3">
      <label for="create_user_email" class="form-label" translate="Portal.CreateUser.Form.Email"></label>
      <input
        id="create_user_email"
        type="email"
        class="form-control"
        formControlName="eMail"
        [required]="true"
        [minlength]="1"
        [maxlength]="100"
        [ngClass]="eMailControl.dirty || eMailControl.touched ? (eMailControl.invalid ? 'is-invalid' : 'is-valid') : ''"
      />
      <div class="invalid-feedback" translate="Portal.CreateUser.Form.EmailInvalid"></div>
    </div>

    <div>
      <label for="create_user_password" class="form-label" translate="Portal.CreateUser.Form.Password"></label>
      <input
        id="create_user_password"
        type="password"
        class="form-control"
        formControlName="password"
        [required]="true"
        [minlength]="1"
        [maxlength]="64"
        [ngClass]="passwordControl.dirty || passwordControl.touched ? (passwordControl.invalid ? 'is-invalid' : 'is-valid') : ''"
      />
      <div class="invalid-feedback" translate="Portal.CreateUser.Form.PasswordInvalid"></div>
    </div>
  </form>

  <hr />

  <div class="form-text">
    <i class="bi bi-info-circle"></i>
    <span class="ms-2" translate="Portal.CreateUser.UserNotice"></span>
  </div>

  <hr />

  <div class="d-flex flex-row justify-content-end">
    <tp-action-button [type]="'success'" [title]="'Portal.CreateUser.Submit'" [disabled]="form.invalid" (click)="confirmButtonClicked()" />
  </div>
</tp-page-frame>
