@model Ranking.DataModel

<table class="table border shadow-sm" style="max-width: 800px;">
    <thead>
    <tr>
        <th>Pos.</th>
        <th>Mannschaft</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ranking in Model.Tournament.Ranking)
    {
        <tr class="ranking-@ranking.Position">
            <td class="ps-3">@(ranking.Position).</td>
            <td style="word-break: break-word;">@(ranking.Team?.Name ?? string.Empty)</td>
        </tr>
    }
    </tbody>
</table>
