<div
  [ngbPopover]="disabled ? undefined : popoverContent"
  [autoClose]="'outside'"
  #popover="ngbPopover"
  container="body"
  popoverClass="tp-popover-slim"
  [tabindex]="popover.isOpen() ? 0 : -1"
  (keydown.enter)="popover.isOpen() && confirmed.emit()"
  [ngClass]="{
    'tp-cursor-pointer': reducedFootprint,
    'btn btn-sm btn-outline-danger': !reducedFootprint,
    'text-secondary tp-cursor-not-allowed': reducedFootprint && disabled,
    disabled: !reducedFootprint && disabled
  }">
  <i class="bi bi-trash"></i>
  @if (showLabel) {
    <span class="ms-2" translate="Portal.General.Delete"></span>
  }
</div>

<ng-template #popoverContent>
  <div class="px-3 py-2 d-flex flex-row align-items-center gap-3">
    @if (!disabled) {
      <i
        class="tp-cursor-pointer bi bi-trash text-danger fs-5"
        (click)="confirmed.emit()"
        [title]="'Portal.DeleteButton.ConfirmTooltip' | translate"></i>
    }
    <span
      class="tp-cursor-pointer text-decoration-underline text-secondary"
      (click)="popover.close()"
      translate="Portal.DeleteButton.Cancel"></span>
  </div>
</ng-template>
