.timetable-row {
  background-image: linear-gradient(to left, #f7f7f7 1px, transparent 1px), linear-gradient(to top, #f7f7f7 1px, transparent 1px);
  background-size: 1em 1em;
}

.timetable-compact-text {
  line-height: 0.95em;
}

.timetable-tournament {
  background: repeating-linear-gradient(135deg, #d2ecd3, #d2ecd3 10px, #b8e1ba 10px, #b8e1ba 20px);
  color: unset;
}

.timetable-tournament:hover {
  background: repeating-linear-gradient(135deg, #b8e0ba, #b8e0ba 10px, #9ddaa0 10px, #9ddaa0 20px);
}

// TODO: Add dark mode for this component
