<div class="btn-group" role="group">
  <input
    type="radio"
    class="btn-check"
    id="visibilityPrivate"
    autocomplete="off"
    [checked]="visibility === Visibility.Private"
    (click)="setVisibility(Visibility.Private)"
  />
  <label
    class="btn btn-sm px-3"
    for="visibilityPrivate"
    [ngClass]="visibility === Visibility.Private ? 'btn-outline-danger' : 'btn-outline-secondary'"
  >
    <i class="bi bi-lock"></i>
    <span class="ms-2" translate="Portal.VisibilitySelector.Private"></span>
  </label>
  <input
    type="radio"
    class="btn-check"
    id="visibilityPublic"
    autocomplete="off"
    [checked]="visibility === Visibility.Public"
    (click)="setVisibility(Visibility.Public)"
  />
  <label
    class="btn btn-sm px-3"
    for="visibilityPublic"
    [ngClass]="visibility === Visibility.Public ? 'btn-outline-success' : 'btn-outline-secondary'"
  >
    <i class="bi bi-globe-europe-africa"></i>
    <span class="ms-2" translate="Portal.VisibilitySelector.Public"></span>
  </label>
</div>
