<div class="modal-header">
  <div class="modal-title" translate="Portal.ViewTournament.Ranking.AddOverwrite.Title"></div>
  <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body d-flex flex-column gap-3" [formGroup]="form">
  <div class="form-group">
    @let placementRank = form.get('placementRank')!;
    <label class="form-label" for="placementRank" translate="Portal.ViewTournament.Ranking.AddOverwrite.PlacementRank"></label>
    <input
      class="form-control form-control-sm"
      type="number"
      id="placementRank"
      formControlName="placementRank"
      style="max-width: 10em"
      [ngClass]="{ 'is-invalid': (placementRank.touched || placementRank.dirty) && !placementRank.valid }" />
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="hideRanking" formControlName="hideRanking" />
    <label class="form-check-label" for="hideRanking" translate="Portal.ViewTournament.Ranking.AddOverwrite.HideRanking"></label>
    <tp-tooltip-icon [icon]="'question-circle'" [tooltipText]="'Portal.ViewTournament.Ranking.AddOverwrite.HideRankingTooltip'" />
  </div>

  @let hideRanking = form.get('hideRanking')!;
  @if (!hideRanking.value) {
    <div class="form-group">
      <label class="form-label" for="assignTeamId" translate="Portal.ViewTournament.Ranking.AddOverwrite.PlacementRank"></label>
      <select class="form-select form-select-sm" id="assignTeamId" formControlName="assignTeamId">
        <option value="0">keine Mannschaft zuweisen</option>
        <option disabled>Mannschaften:</option>
        @for (team of _teams; track team.id) {
          <option [value]="team.id">{{ team.name }}</option>
        }
      </select>
    </div>
  }
</div>
<div class="modal-footer">
  <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Cancel'" (buttonClick)="modal.dismiss()" />
  <tp-action-button [type]="'success'" [title]="'Portal.General.Save'" [disabled]="form.invalid" (buttonClick)="submit()" />
</div>
