<div class="overflow-x-scroll p-3 position-relative overflow-y-hidden" (window:resize)="recalculate()" #containerDiv>
  <div class="d-flex flex-row gap-5" [ngClass]="containerClass" #layoutedDiv>
    @for (column of columns; track column.index) {
      <div class="d-flex flex-column justify-content-around gap-3">
        @for (match of column.matches; track match.id) {
          <ng-container *ngTemplateOutlet="matchTile; context: { $implicit: match, isPlayoff: false }" />
        }
      </div>
    }

    @for (match of rankingMatches; track match.id) {
      <ng-container *ngTemplateOutlet="matchTile; context: { $implicit: match, isPlayoff: true }" />
    }

    <svg class="position-absolute top-0 start-0 pe-none" style="z-index: -1;" [attr.width]="connectingLinesSvgWidth" [attr.height]="connectingLinesSvgHeight" #linesSvg>
      @for (line of connectingLines; track line) {
        <line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="#777777" stroke-width="1" />
      }
    </svg>
  </div>

  <!-- This div ensures that the parent occupies enough space in the case that additional
       playoff matches (which are positioned absolutely) extend below the other matches -->
  <div #additionalPaddingDiv></div>
</div>

<ng-template #matchTile let-match let-isPlayoff="isPlayoff">
  <div id="match-tile-{{ match.id }}"
       class="card tp-cursor-pointer shadow-sm"
       [ngStyle]="{ 'width': '300px', 'display': isPlayoff ? 'none' : 'block' }"
       [ngClass]="{ 'position-absolute': isPlayoff }"
       (click)="matchClick.emit(match.id)"
       #matchTile>
    <div class="card-header d-flex flex-row justify-content-between">
      <span class="small">{{ match.index }}</span>
      <span class="fw-bold">{{ match.type.displayName }}</span>
      <span class="small">
        @if (match.kickoff) {
          {{ match.kickoff | translateDate : (showKickoffWithSeconds ? 'mediumTime' : 'shortTime') }}
        }
      </span>
    </div>
    <div class="card-body p-2 d-flex flex-column">
      <div class="d-flex flex-row align-items-center">
        <div class="flex-grow-1" style="line-height: 1.2em;">
          @if (match.teamA.length > 0) {
            <div [title]="match.teamA" style="max-width: 230px; text-overflow: ellipsis;" class="text-nowrap overflow-hidden">{{ match.teamA }}</div>
          }
          <span class="team-selector">{{ match.teamSelectorA }}</span>
        </div>
        <div class="text-center" style="width: 3em;">
          {{ match.scoreA }}
        </div>
      </div>
      <div class="position-relative">
        <hr class="my-2" />
        <div class="position-absolute end-0 top-50 text-center bg-white" style="width: 3em; transform: translateY(calc(-50% - 2px));">
          @if (match.showLoadingIndicator) {
            <tp-small-spinner />
          } @else if (match.isLive) {
            <tp-live-indicator />
          } @else if (match.outcomeType !== undefined && match.outcomeType !== 'Standard') {
            <span class="small" [translate]="'General.MatchOutcomeType.' + match.outcomeType"></span>
          }
        </div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <div class="flex-grow-1" style="line-height: 1.2em;">
          @if (match.teamB.length > 0) {
            <div [title]="match.teamB" style="max-width: 230px; text-overflow: ellipsis;" class="text-nowrap overflow-hidden" >{{ match.teamB }}</div>
          }
          <span class="team-selector">{{ match.teamSelectorB }}</span>
        </div>
        <div class="text-center" style="width: 3em;">
          {{ match.scoreB }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
