<div class="fw-bold mb-3" translate="{{ translationKey }}.Title"></div>
<div class="mb-1" translate="{{ translationKey }}.Info"></div>

@if (confirmationText !== undefined) {
  <div [ngClass]="thinLayout ? 'mb-4 d-flex flex-column align-items-start gap-2' : 'mb-4 mb-md-3 d-flex flex-column flex-md-row align-items-start align-items-md-center gap-2 gap-md-3'">
    <div [innerHTML]="'Portal.DeleteWidget.EnterToConfirm' | translate : { text: confirmationText }" id="deleteBoxLabel"></div>
    <input class="form-control form-control-sm" style="width: 20em;" aria-labelledby="deleteBoxLabel" [(ngModel)]="confirmationTextInput" (ngModelChange)="checkConfirmationText()"/>
  </div>
  <div class="d-flex flex-row">
    <div [ngClass]="{ 'tp-cursor-not-allowed': !allowDeletion }">
      <tp-action-button [type]="'outline-danger'" [icon]="'trash'" [disabled]="!allowDeletion" [title]="'Portal.DeleteWidget.Delete'" (click)="deleteClicked()" />
    </div>
  </div>
}
