<div class="fw-bold mb-3" [translate]="translationKey + '.Title'"></div>

<div class="mb-3" [translate]="translationKey + '.Link'"></div>

@if (isForFullscreenView) {
  <div class="mb-3">
    <tp-auto-reload-toggle [minimumInterval]="autoReloadMinInterval" (pathSuffixChanged)="autoReloadPathSuffix = $event" />
  </div>

  <div class="mb-3 form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="includeQrCodeOnFullscreenView"
      [(ngModel)]="includeQrCodeOnFullscreenView"
      (ngModelChange)="localStorageService.setIncludeQrCodeOnFullscreenView($event)" />
    <label
      class="form-check-label"
      for="includeQrCodeOnFullscreenView"
      translate="Portal.ViewTournament.Share.FullscreenLink.IncludeQrCode"></label>
  </div>
}

<div [ngClass]="{ 'mb-3': showQrCode || viewsCounter !== undefined }">
  @let link =
    includeQrCodeOnFullscreenView
      ? resourcePath + '&showQrCode=' + includeQrCodeOnFullscreenView + autoReloadPathSuffix
      : resourcePath + autoReloadPathSuffix;
  <tp-share-link [resourcePath]="link" #shareLink />
</div>

@if (showQrCode || viewsCounter !== undefined) {
  <div class="row">
    @if (showQrCode) {
      <div class="col-12 col-md-6">
        <div class="mb-1" [translate]="translationKey + '.QrCode'"></div>

        <div class="d-flex flex-row">
          <div class="d-flex flex-column align-items-center gap-2">
            <qrcode
              [qrdata]="shareLink.resourceUrl"
              [elementType]="'canvas'"
              [errorCorrectionLevel]="'M'"
              [margin]="1"
              [scale]="1"
              [width]="250"
              (qrCodeURL)="qrCodeUrl = $event" />

            @if (downloadName) {
              <a [href]="qrCodeUrl" [download]="downloadName" class="btn btn-outline-secondary btn-sm">
                <i class="bi bi-download"></i>
                <span class="ms-2" [translate]="translationKey + '.QrCodeSave'"></span>
              </a>
            }
          </div>
        </div>
      </div>
    }
    @if (viewsCounter !== undefined) {
      <div class="col-12 col-md-6">
        <div class="mb-1" [translate]="translationKey + '.ViewsCounter'"></div>
        <input readonly disabled class="form-control" style="max-width: 6em" value="{{ viewsCounter }}" />
      </div>
    }
  </div>
}
