@if (contentOnly) {
  <div class="tp-footer-layout">
    <ng-container [ngTemplateOutlet]="footerContent" />
  </div>
} @else {
  <div class="tp-footer tp-footer-layout position-fixed bottom-0" [style]="footerStyle">
    <div class="container d-flex flex-row justify-content-center py-1">
      <ng-container [ngTemplateOutlet]="footerContent" />
    </div>
  </div>
}

<ng-template #footerContent>
  <span class="footer-item" translate="Application.Name"></span>
  <span class="footer-item">
    <a translate="Footer.LandingPage" [routerLink]="'/portal'"></a>
  </span>
  <span class="footer-item">
    <a target="_blank" href="https://github.com/turnierplan-NET/turnierplan.NET" rel="noopener">
      <i class="bi bi-github"></i>
      <span class="ms-1" translate="Footer.GitHub"></span>
    </a>
  </span>
  @if (colorThemeSelector) {
    <span class="footer-item">
      <tp-color-theme-selector [mode]="'icon'" />
    </span>
  }
  <span class="footer-item">
    <a target="_blank" href="https://github.com/turnierplan-NET/turnierplan.NET/releases/tag/{{ version }}" rel="noopener">
      <span [ngClass]="{ 'fw-bold text-warning': isDevelopment }">v{{ version }}</span>
    </a>
  </span>
</ng-template>
