<tp-page-frame
  *tpLoadingState="loadingState"
  [title]="'Portal.ConfigureTournament.Title' | translate: { tournament: tournamentName }"
  [backLink]="'..'">
  <div translate="Portal.ConfigureTournament.Subtitle"></div>
  @if (displayEditWarning) {
    <tp-tournament-edit-warning [translationKey]="'Portal.ConfigureTournament.DestructiveWarning'" [(accepted)]="editWarningAccepted" />
  }

  <hr />

  <h5 class="mb-3" translate="Portal.ConfigureTournament.Sections.General.Title"></h5>
  <ng-container [ngTemplateOutlet]="generalSection" />

  <h5 class="mt-4 mb-3" translate="Portal.ConfigureTournament.Sections.Participants.Title"></h5>
  <ng-container [ngTemplateOutlet]="teamsSection" />

  <h5 class="mt-4 mb-3" translate="Portal.ConfigureTournament.Sections.GroupPhase.Title"></h5>
  <ng-container [ngTemplateOutlet]="groupPhaseSection" />

  <h5 class="mt-4 mb-3" translate="Portal.ConfigureTournament.Sections.FinalsPhase.Title"></h5>
  <ng-container [ngTemplateOutlet]="finalsRoundSection" />

  <hr />

  <div class="form-text">
    <i class="bi bi-info-circle"></i>
    <span class="ms-2" translate="Portal.ConfigureTournament.SaveNotice"></span>
  </div>

  <hr />

  <div class="d-flex flex-row align-items-center gap-2">
    @if (!canSave) {
      @if (hasValidationErrors) {
        <div class="text-danger fw-bold small d-flex flex-row gap-2">
          <span translate="Portal.ConfigureTournament.ValidationErrorsNotice"></span>
        </div>
      } @else {
        <div class="text-danger fw-bold small d-flex flex-row gap-2">
          <span translate="Portal.ConfigureTournament.AcceptWarningNotice"></span>
        </div>
      }
    }

    <div class="flex-grow-1"></div>
    <div [ngClass]="{ 'tp-cursor-not-allowed': !canSave }">
      <tp-action-button
        [type]="'success'"
        [title]="'Portal.ConfigureTournament.Submit'"
        [disabled]="!canSave"
        (buttonClick)="saveButtonClicked()" />
    </div>
  </div>
</tp-page-frame>

<ng-template #generalSection>
  <div class="card shadow-sm rounded-0">
    <div class="card-body d-flex flex-column align-items-start gap-2">
      <div translate="Portal.ConfigureTournament.Sections.General.KickoffDateTime"></div>
      <input
        class="form-control form-control-sm"
        type="datetime-local"
        [ngModel]="firstMatchKickoff | date: 'yyyy-MM-ddTHH:mm'"
        (ngModelChange)="setKickoffDatetime($event)" />
      @if (firstMatchKickoff < timeStampToday) {
        <tp-alert
          class="align-self-stretch"
          [type]="'info'"
          [text]="'Portal.ConfigureTournament.Sections.General.KickoffDateTimeInPast'"
          [margin]="'mt-2 mb-0'" />
      }
    </div>
  </div>
</ng-template>

<ng-template #teamsSection>
  <table class="table table-bordered shadow-sm">
    <tbody>
      @let numberOfColumns = groups.length > 1 ? 6 : 5;
      @for (group of groups; track group.alphabeticalId; let groupIndex = $index) {
        <tr>
          <td [attr.colspan]="numberOfColumns" class="bg-light">
            <div class="d-flex flex-row gap-2 align-items-center">
              @let hasCustomDisplayName = group.displayName.length;
              @if (hasCustomDisplayName) {
                <span
                  class="fw-bold"
                  translate="Portal.ConfigureTournament.Sections.Participants.GroupWithName"
                  [translateParams]="{ alphabeticalId: group.alphabeticalId, displayName: group.displayName }"></span>
              } @else {
                <span
                  class="fw-bold"
                  translate="Portal.ConfigureTournament.Sections.Participants.GroupWithoutName"
                  [translateParams]="{ alphabeticalId: group.alphabeticalId }"></span>
              }
              <tp-rename-button
                class="ms-2"
                translationKey="Portal.ConfigureTournament.Sections.Participants.GroupRename"
                [displayLabel]="false"
                [allowReset]="true"
                [current]="hasCustomDisplayName ? group.displayName : undefined"
                (renamed)="setGroupName(group, $event)"
                (resetName)="setGroupName(group, '')" />
              <tp-action-button
                [icon]="'plus-circle'"
                [type]="'outline-primary'"
                [title]="'Portal.ConfigureTournament.Sections.Participants.AddTeam.Button'"
                [tpE2E]="['configure-tournament-page-add-group-button', group.alphabeticalId]"
                (buttonClick)="addTeam(group)" />
              <span class="flex-grow-1"></span>
              @if (group.teams.length > 0) {
                <tp-tooltip-icon
                  [margin]="false"
                  [iconClass]="'text-danger'"
                  [tooltipText]="'Portal.ConfigureTournament.Sections.Participants.CannotDeleteGroupWithTeams'" />
              } @else {
                <tp-delete-button (confirmed)="removeGroup(groupIndex)" />
              }
            </div>
          </td>
        </tr>

        @for (team of group.teams; track team; let index = $index; let isFirst = $first; let isLast = $last) {
          <tr>
            <td style="width: 1px">{{ index + 1 }}.</td>
            <td style="width: 1px">
              @if (team.teamLink) {
                <tp-tooltip-icon
                  [margin]="false"
                  [icon]="'ticket-perforated'"
                  [tooltipText]="'Portal.ConfigureTournament.Sections.Participants.TeamFromPlanningRealm'"
                  [tooltipTextParams]="{
                    planningRealm: team.teamLink.planningRealmName,
                    tournamentClass: team.teamLink.tournamentClassName
                  }" />
              }
            </td>
            <td>
              <span>{{ team.name }}</span>
              @if (!team.teamLink) {
                <tp-rename-button
                  class="ms-2"
                  translationKey="Portal.ConfigureTournament.Sections.Participants.TeamRename"
                  [displayLabel]="false"
                  [reducedFootprint]="true"
                  [current]="team.name"
                  (renamed)="setTeamName(team, $event)" />
              }
            </td>
            <td style="width: 1px">
              <div class="d-flex flex-row gap-2 justify-content-center">
                @if (!isFirst) {
                  <i class="bi bi-caret-up tp-cursor-pointer" (click)="swapTeams(group, index, index - 1)"></i>
                }
                @if (!isLast) {
                  <i class="bi bi-caret-down tp-cursor-pointer" (click)="swapTeams(group, index, index + 1)"></i>
                }
              </div>
            </td>
            @if (groups.length > 1) {
              <td style="width: 1px">
                <i
                  class="bi bi-box-arrow-right tp-cursor-pointer"
                  [ngbPopover]="moveTeamToGroupPopover"
                  [autoClose]="'outside'"
                  [placement]="'end'"
                  container="body"
                  popoverClass="tp-popover-slim"
                  (click)="teamForMovingToOtherGroup = { team: team, currentGroup: group }"></i>
              </td>
            }
            <td style="width: 1px">
              <tp-delete-button [reducedFootprint]="true" (confirmed)="removeTeam(group, index)" />
            </td>
          </tr>
        } @empty {
          <tr>
            <td
              [attr.colspan]="numberOfColumns"
              [ngClass]="attemptedToSaveChanges ? 'small fw-bold text-danger' : 'small fst-italic'"
              translate="Portal.ConfigureTournament.Sections.Participants.NoTeamsNotice"></td>
          </tr>
        }
      } @empty {
        <tr>
          <td
            [ngClass]="attemptedToSaveChanges && groups.length === 0 ? 'small fw-bold text-danger' : 'small fst-italic'"
            translate="Portal.ConfigureTournament.Sections.Participants.NoGroupsNotice"></td>
        </tr>
      }
    </tbody>
  </table>

  <div class="d-flex flex-row justify-content-center gap-2">
    <tp-action-button
      [type]="'outline-secondary'"
      [icon]="'shuffle'"
      [disabled]="totalTeamCount <= 1"
      [title]="'Portal.ConfigureTournament.Sections.Participants.ShuffleGroupsButton'"
      [tpE2E]="'configure-tournament-page-shuffle-groups-button'"
      (buttonClick)="shuffleGroups()" />
    <tp-action-button
      [type]="'outline-primary'"
      [icon]="'plus-circle'"
      [title]="'Portal.ConfigureTournament.Sections.Participants.AddGroupButton'"
      [tpE2E]="'configure-tournament-page-add-group-button'"
      (buttonClick)="addGroup()" />
  </div>
</ng-template>

<ng-template #moveTeamToGroupPopover>
  @if (teamForMovingToOtherGroup) {
    <div class="p-3 d-flex flex-column gap-2">
      <div class="fw-bold small" translate="Portal.ConfigureTournament.Sections.Participants.MoveToOtherGroup"></div>
      <div class="d-flex flex-row flex-wrap gap-1">
        @for (group of groups; track group.alphabeticalId) {
          @if (group !== teamForMovingToOtherGroup.currentGroup) {
            <div
              class="p-1 border tp-cursor-pointer"
              (click)="moveTeam(teamForMovingToOtherGroup.team, teamForMovingToOtherGroup.currentGroup, group)">
              {{ group.alphabeticalId }}
            </div>
          }
        }
      </div>
    </div>
  }
</ng-template>

<ng-template #groupPhaseSection>
  <div class="card shadow-sm rounded-0">
    <div class="card-body d-flex flex-column align-items-start gap-2">
      @if (groups.length > 1) {
        <div translate="Portal.ConfigureTournament.Sections.GroupPhase.OrderLabel"></div>
        <div class="btn-group btn-group-sm mb-2">
          <input
            type="radio"
            class="btn-sm btn-check"
            name="groupMatchOrder"
            id="groupMatchesSequential"
            autocomplete="off"
            [checked]="!groupPhaseAlternating"
            (change)="groupPhaseAlternating = !groupPhaseAlternating; markDirty()" />
          <label
            class="btn btn-outline-secondary"
            for="groupMatchesSequential"
            translate="Portal.ConfigureTournament.Sections.GroupPhase.OrderSequential"></label>

          <input
            type="radio"
            class="btn-sm btn-check"
            name="groupMatchOrder"
            id="groupMatchesAlternating"
            autocomplete="off"
            [checked]="groupPhaseAlternating"
            (change)="groupPhaseAlternating = !groupPhaseAlternating; markDirty()" />
          <label
            class="btn btn-outline-secondary"
            for="groupMatchesAlternating"
            translate="Portal.ConfigureTournament.Sections.GroupPhase.OrderAlternating"></label>
        </div>
      }

      <div translate="Portal.ConfigureTournament.Sections.GroupPhase.NumberOfRoundsLabel"></div>
      <div class="d-flex flex-row gap-2">
        <input
          class="form-control form-control-sm"
          style="width: 6em"
          type="number"
          min="1"
          max="4"
          step="1"
          [(ngModel)]="groupPhaseRounds"
          (ngModelChange)="markDirty()"
          [ngClass]="{ 'is-invalid': isGroupPhaseRoundsInvalid }" />
        @if (isGroupPhaseRoundsInvalid) {
          <div class="invalid-feedback" translate="Portal.ConfigureTournament.Sections.GroupPhase.InvalidNumberOfRounds"></div>
        }
      </div>
      <div class="mt-2" translate="Portal.ConfigureTournament.Sections.GroupPhase.NumberOfCourtsLabel"></div>
      <div class="d-flex flex-row gap-2">
        <input
          class="form-control form-control-sm"
          style="width: 6em"
          type="number"
          min="1"
          max="10"
          step="1"
          [(ngModel)]="groupPhaseCourts"
          (ngModelChange)="markDirty()"
          [ngClass]="{ 'is-invalid': isGroupPhaseCourtsInvalid }" />
        @if (isGroupPhaseCourtsInvalid) {
          <div class="invalid-feedback" translate="Portal.ConfigureTournament.Sections.GroupPhase.InvalidNumberOfCourts"></div>
        }
      </div>
      <div class="mt-2" translate="Portal.ConfigureTournament.Sections.GroupPhase.PlayTimeLabel"></div>
      <tp-duration-picker [(duration)]="groupPhasePlayTime" />
      <div class="mt-2" translate="Portal.ConfigureTournament.Sections.GroupPhase.PauseTimeLabel"></div>
      <tp-duration-picker [(duration)]="groupPhasePauseTime" />
    </div>
  </div>
</ng-template>

<ng-template #finalsRoundSection>
  @if (availableFinalRounds.length === 0) {
    <tp-alert [type]="'info'" [text]="'Portal.ConfigureTournament.Sections.FinalsPhase.NoTemplates'" />
  } @else {
    <div class="form-check mb-3">
      <input
        class="form-check-input"
        id="enableFinalsRound"
        type="checkbox"
        [(ngModel)]="enableFinalsRound"
        (ngModelChange)="markDirty()" />
      <label
        class="form-check-label"
        for="enableFinalsRound"
        translate="Portal.ConfigureTournament.Sections.FinalsPhase.EnableCheckbox"></label>
    </div>
    @if (enableFinalsRound) {
      <div class="card shadow-sm rounded-0">
        <div class="card-body d-flex flex-column gap-2">
          <div translate="Portal.ConfigureTournament.Sections.FinalsPhase.IntermediatePause"></div>
          <tp-duration-picker [(duration)]="pauseBetweenGroupAndFinalsPhase" />
          <div translate="Portal.ConfigureTournament.Sections.FinalsPhase.FirstRoundLabel"></div>
          <select
            class="form-select"
            [(ngModel)]="currentFinalRound"
            (ngModelChange)="determineAvailableAdditionalPlayoffMatches(); markDirty()">
            @for (option of availableFinalRounds; track option) {
              <option [value]="option">
                {{ 'Portal.ConfigureTournament.Sections.FinalsPhase.FinalsRound.' + option | translate }}
              </option>
            }
          </select>
          @if ((currentFinalRound && currentFinalRound !== firstFinalRounds.Final) || additionalPlayoffPositions.length > 0) {
            <div class="mt-2" translate="Portal.ConfigureTournament.Sections.FinalsPhase.RankingMatchesLabel"></div>
          }
          @if (currentFinalRound && currentFinalRound !== firstFinalRounds.Final) {
            <div class="form-check">
              <input
                class="form-check-input"
                id="thirdPlacePlayoff"
                type="checkbox"
                [(ngModel)]="enableThirdPlacePlayoff"
                (ngModelChange)="determineAvailableAdditionalPlayoffMatches(); markDirty()" />
              <label
                class="form-check-label"
                for="thirdPlacePlayoff"
                translate="Portal.ConfigureTournament.Sections.FinalsPhase.ThirdPlacePlayoff"></label>
              <tp-tooltip-icon [tooltipText]="'Portal.ConfigureTournament.Sections.FinalsPhase.ThirdPlacePlayoffTooltip'" />
            </div>
          }
          @if (additionalPlayoffPositions.length > 0) {
            <div class="form-check">
              <input
                class="form-check-input"
                id="additionalPlayoffs"
                type="checkbox"
                [(ngModel)]="enableAdditionalPlayoffs"
                (ngModelChange)="markDirty()" />
              <label
                class="form-check-label"
                for="additionalPlayoffs"
                translate="Portal.ConfigureTournament.Sections.FinalsPhase.AdditionalPlayoffs"></label>
              <tp-tooltip-icon [tooltipText]="'Portal.ConfigureTournament.Sections.FinalsPhase.AdditionalPlayoffsTooltip'" />
            </div>
          }
          <div class="mt-2" translate="Portal.ConfigureTournament.Sections.FinalsPhase.NumberOfCourtsLabel"></div>
          <div class="d-flex flex-row gap-2">
            <input
              class="form-control form-control-sm"
              style="width: 6em"
              type="number"
              min="1"
              max="10"
              step="1"
              [(ngModel)]="finalsPhaseCourts"
              (ngModelChange)="markDirty()"
              [ngClass]="{ 'is-invalid': isFinalsPhaseCourtsInvalid }" />
            @if (isFinalsPhaseCourtsInvalid) {
              <div class="invalid-feedback" translate="Portal.ConfigureTournament.Sections.FinalsPhase.InvalidNumberOfCourts"></div>
            }
          </div>
          <div class="mt-2" translate="Portal.ConfigureTournament.Sections.FinalsPhase.PlayTimeLabel"></div>
          <tp-duration-picker [(duration)]="finalsPhasePlayTime" />
          <div class="mt-2" translate="Portal.ConfigureTournament.Sections.FinalsPhase.PauseTimeLabel"></div>
          <tp-duration-picker [(duration)]="finalsPhasePauseTime" />
        </div>
      </div>

      @if (enableAdditionalPlayoffs && additionalPlayoffPositions.length > 0) {
        <h5 class="mt-4 mb-3" translate="Portal.ConfigureTournament.Sections.AdditionalPlayoffs.Title"></h5>
        <ng-container [ngTemplateOutlet]="additionalPlayoffsSection" />
      }
    }
  }
</ng-template>

<ng-template #additionalPlayoffsSection>
  <div class="card shadow-sm rounded-0">
    <div class="card-body d-flex flex-column gap-2">
      <div class="mb-2" translate="Portal.ConfigureTournament.Sections.AdditionalPlayoffs.InfoText"></div>
      @for (position of additionalPlayoffPositions; track position) {
        <div class="row align-items-center" style="min-height: 2.375em">
          <div class="col-3">
            <div class="form-check">
              <input
                class="form-check-input"
                id="additionalPlayoff{{ position }}"
                type="checkbox"
                [ngModel]="additionalPlayoffs[position].isEnabled"
                (ngModelChange)="setAdditionalPlayoffEnabled(position, $event)" />
              <label
                class="form-check-label"
                for="additionalPlayoff{{ position }}"
                translate="Portal.ConfigureTournament.Sections.AdditionalPlayoffs.MatchLabel"
                [translateParams]="{ position: position }"></label>
            </div>
          </div>
          @if (additionalPlayoffs[position].isEnabled) {
            <div class="col-4 pe-0">
              <select
                class="form-select"
                [ngClass]="{
                  'text-secondary': additionalPlayoffs[position].teamSelectorA === '',
                  'border-danger': attemptedToSaveChanges && additionalPlayoffs[position].teamSelectorA === ''
                }"
                [ngModel]="additionalPlayoffs[position].teamSelectorA"
                (ngModelChange)="setAdditionalPlayoffTeamSelectorA(position, $event)">
                <option
                  value=""
                  class="text-secondary"
                  translate="Portal.ConfigureTournament.Sections.AdditionalPlayoffs.DropdownPlaceholder"></option>
                @for (item of abstractTeamSelectors; track item) {
                  <option [value]="item" class="text-black">
                    {{ item | abstractTeamSelector: groupAlphabeticalIdsForTeamSelectors : 'de' }}
                  </option>
                }
              </select>
            </div>
            <div class="col-4 pe-0">
              <select
                class="form-select"
                [ngClass]="{
                  'text-secondary': additionalPlayoffs[position].teamSelectorB === '',
                  'border-danger': attemptedToSaveChanges && additionalPlayoffs[position].teamSelectorB === ''
                }"
                [ngModel]="additionalPlayoffs[position].teamSelectorB"
                (ngModelChange)="setAdditionalPlayoffTeamSelectorB(position, $event)">
                <option
                  value=""
                  class="text-secondary"
                  translate="Portal.ConfigureTournament.Sections.AdditionalPlayoffs.DropdownPlaceholder"></option>
                @for (item of abstractTeamSelectors; track item) {
                  <option [value]="item" class="text-black">
                    {{ item | abstractTeamSelector: groupAlphabeticalIdsForTeamSelectors : 'de' }}
                  </option>
                }
              </select>
            </div>
            <div class="col-1 text-center">
              @if (additionalPlayoffs[position].teamSelectorA === additionalPlayoffs[position].teamSelectorB) {
                <tp-tooltip-icon
                  [icon]="'exclamation-triangle'"
                  [iconClass]="'text-warning'"
                  [margin]="false"
                  [tooltipText]="'Portal.ConfigureTournament.Sections.AdditionalPlayoffs.DuplicateTeam'" />
              }
            </div>
          } @else {
            <div class="col-9"></div>
          }
        </div>
      }
    </div>
  </div>
</ng-template>
