<div class="d-flex flex-row align-items-center gap-3">
  <i class="bi" [class]="changeLogIcon"></i>
  <div class="flex-grow-1 d-flex flex-column gap-1 align-items-stretch">
    <span class="small">
      <span>#{{ index }}</span>
      <span class="mx-1">&middot;</span>
      <span>{{ changeLogTimestamp | translateDate }}</span>
      <span class="mx-1">&middot;</span>
      <span [translate]="'Portal.ViewPlanningRealm.Applications.ChangeLog.Types.' + changeLogType"></span>
    </span>

    @if (changeLogType === ApplicationChangeLogType.LabelAdded) {
      <div class="d-flex flex-row align-items-center gap-1">
        <tp-label [label]="mockLabel!" />
        <span class="ms-1" [translate]="'Portal.ViewPlanningRealm.Applications.ChangeLog.LabelAdded'"></span>
        <span class="text-decoration-underline">{{ teamName }}</span>
      </div>
    } @else if (changeLogType === ApplicationChangeLogType.LabelRemoved) {
      <div class="d-flex flex-row align-items-center gap-1">
        <tp-label [label]="mockLabel!" />
        <span class="ms-1" [translate]="'Portal.ViewPlanningRealm.Applications.ChangeLog.LabelRemoved'"></span>
        <span class="text-decoration-underline">{{ teamName }}</span>
      </div>
    } @else if (changeLogType === ApplicationChangeLogType.TeamAdded) {
      @if (tournamentClassName && tournamentClassName.length > 0) {
        <!-- tournament class name was not saved until 2025.4.0 -->
        <div class="d-flex flex-row gap-2">
          <span class="value-display p-1 border text-success flex-grow-0">{{ teamName }}</span>
          <span class="value-display p-1 border flex-grow-0">
            <i
              class="bi-x-diamond me-2"
              [ngbTooltip]="'Portal.ViewPlanningRealm.Applications.ChangeLog.TournamentClassTooltip' | translate"></i>
            <span>{{ tournamentClassName }}</span>
          </span>
        </div>
      } @else {
        <span class="value-display p-1 border text-success flex-grow-0">{{ teamName }}</span>
      }
    } @else if (changeLogType === ApplicationChangeLogType.TeamRemoved) {
      @if (tournamentClassName && tournamentClassName.length > 0) {
        <!-- tournament class name was not saved until 2025.4.0 -->
        <div class="d-flex flex-row gap-2">
          <span class="value-display p-1 border text-danger flex-grow-0">{{ teamName }}</span>
          <span class="value-display p-1 border flex-grow-0">
            <i
              class="bi-x-diamond me-2"
              [ngbTooltip]="'Portal.ViewPlanningRealm.Applications.ChangeLog.TournamentClassTooltip' | translate"></i>
            <span>{{ tournamentClassName }}</span>
          </span>
        </div>
      } @else {
        <span class="value-display p-1 border text-danger flex-grow-0">{{ teamName }}</span>
      }
    } @else if (changeLogType === ApplicationChangeLogType.TeamLinkCreated) {
      <div class="d-flex flex-row align-items-center gap-1">
        <span class="text-decoration-underline">{{ teamName }}</span>
        <span class="ms-1" [translate]="'Portal.ViewPlanningRealm.Applications.ChangeLog.TeamLinkCreated'"></span>
        <span class="ms-1 text-decoration-underline">{{ tournamentName }}</span>
      </div>
    } @else if (changeLogType === ApplicationChangeLogType.TeamLinkDestroyed) {
      <div class="d-flex flex-row align-items-center gap-1">
        <span class="text-decoration-underline">{{ teamName }}</span>
        <span class="ms-1" [translate]="'Portal.ViewPlanningRealm.Applications.ChangeLog.TeamLinkDestroyed'"></span>
        <span class="ms-1 text-decoration-underline">{{ tournamentName }}</span>
      </div>
    } @else {
      <div class="d-flex flex-row align-items-start gap-2">
        @if (previousValue !== undefined && previousValue.length > 0) {
          <span class="value-display p-1 border text-danger flex-grow-0">{{ previousValue }}</span>
        } @else {
          <span
            class="value-display p-1 border text-secondary fst-italic flex-grow-0"
            [translate]="'Portal.ViewPlanningRealm.Applications.ChangeLog.EmptyText'"></span>
        }

        <span class="mt-1 bi bi-arrow-right"></span>

        @if (newValue !== undefined && newValue.length > 0) {
          <span class="value-display p-1 border text-success flex-grow-0">{{ newValue }}</span>
        } @else {
          <span
            class="value-display p-1 border text-secondary fst-italic flex-grow-0"
            [translate]="'Portal.ViewPlanningRealm.Applications.ChangeLog.EmptyText'"></span>
        }
      </div>
    }
  </div>
</div>
