<ng-container *tpLoadingState="loadingState">
  <div class="modal-header">
    <div class="modal-title" translate="Portal.ViewTournament.AddDocumentDialog.Title"></div>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body d-flex flex-column gap-2">
    <div class="mb-4" translate="Portal.ViewTournament.AddDocumentDialog.Info"></div>
    <div class="d-flex flex-row flex-wrap gap-3">
      @for (entry of documentTypes; track entry) {
        <div class="paper tp-cursor-pointer d-flex flex-column align-items-center justify-content-center" (click)="selected(entry.type)">
          <div class="earmark"></div>
          <span class="fw-bold">{{ entry.displayName }}</span>
        </div>
      }
    </div>
  </div>
</ng-container>
