<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th translate="Portal.ViewOrganization.Images.Preview" style="width: 1px"></th>
        <th style="width: 1px"></th>
        <th translate="Portal.ViewOrganization.Images.Name"></th>
        <th style="width: 1px"></th>
        <th style="width: 1px"></th>
      </tr>
    </thead>
    <tbody>
      @for (image of _images; track image.id) {
        @let writeAllowed = (authorizationService.isActionAllowed$(image.id, Actions.GenericWrite) | async) ?? false;

        <tr>
          <td class="align-middle">
            <img class="border shadow-sm" style="width: 10em" [src]="image.url" [alt]="image.name" />
            <div
              class="text-center mt-1 small text-secondary"
              translate="Portal.ViewOrganization.Images.Dimensions"
              [translateParams]="{ w: image.width, h: image.height }"></div>
            <div
              class="text-center small text-secondary"
              translate="Portal.ViewOrganization.Images.FileSize"
              [translateParams]="{ size: image.fileSize / 1000 | number: '1.1-1' : 'de' }"></div>
          </td>
          <td class="align-middle" [class.pe-0]="!image.isUpdatingName">
            @if (image.isUpdatingName) {
              <tp-small-spinner class="ms-2" />
            } @else if (writeAllowed) {
              <tp-rename-button
                translationKey="Portal.ViewOrganization.Images.Rename"
                [displayLabel]="false"
                [allowReset]="false"
                [current]="image.name"
                (renamed)="renameImage(image.id, $event)" />
            }
          </td>
          <td class="align-middle">
            <span class="small">{{ image.name }}</span>
          </td>
          <!-- TODO: Add number of "referenced" tournaments -->
          <td class="align-middle pe-0">
            <tp-rbac-widget
              *tpIsActionAllowed="[image.id, Actions.ReadOrWriteRoleAssignments]"
              [target]="image"
              [buttonOnly]="true"
              (errorOccured)="errorOccured.emit($event)" />
          </td>
          <td class="align-middle">
            @if (writeAllowed) {
              <tp-delete-button (confirmed)="deleteImage(image.id)" />
            }
          </td>
        </tr>
      } @empty {
        <tr>
          <!-- TODO: colspan? -->
          <td translate="Portal.ViewOrganization.Images.NoImages" colspan="5"></td>
        </tr>
      }
    </tbody>
  </table>
</div>
