<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>turnierplan.NET</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="turnierplan.NET" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/turnierplan.css?v=2025-11-02" />

    <script>
        document.title = `@ViewData["Title"] \u00b7 turnierplan.NET`;
        const twoDigit = (x) => { return x < 10 ? `0${x}` : `${x}`; }
    </script>
</head>
<body>

<noscript>
    <div class="border border-2 border-danger m-3 p-3 text-danger text-center">
        <span class="fw-bold">In Ihrem Browser ist JavaScript deaktiviert!</span><br />
        <span>Dies kann dazu führen, dass diese Seite nicht vollständig angezeigt wird oder bestimmte Funktionen nicht verfügbar sind.</span>
    </div>
</noscript>

<div class="d-flex flex-column">
    @RenderBody()
</div>

</body>
</html>

<!--
 __                                                     ___                                        __
/\ \__                        __                       /\_ \                                      /\ \__
\ \ ,_\  __  __  _ __    ___ /\_\     __   _ __   _____\//\ \      __      ___         ___      __\ \ ,_\
 \ \ \/ /\ \/\ \/\`'__\/' _ `\/\ \  /'__`\/\`'__\/\ '__`\\ \ \   /'__`\  /' _ `\     /' _ `\  /'__`\ \ \/
  \ \ \_\ \ \_\ \ \ \/ /\ \/\ \ \ \/\  __/\ \ \/ \ \ \L\ \\_\ \_/\ \L\.\_/\ \/\ \  __/\ \/\ \/\  __/\ \ \_
   \ \__\\ \____/\ \_\ \ \_\ \_\ \_\ \____\\ \_\  \ \ ,__//\____\ \__/.\_\ \_\ \_\/\_\ \_\ \_\ \____\\ \__\
    \/__/ \/___/  \/_/  \/_/\/_/\/_/\/____/ \/_/   \ \ \/ \/____/\/__/\/_/\/_/\/_/\/_/\/_/\/_/\/____/ \/__/
                                                    \ \_\
                                                     \/_/

    https://github.com/turnierplan-NET/turnierplan.NET -->
