@let displayName = displayName$ | async;
@let notFound = displayName?.found === false;

@switch (principal.kind) {
  @case (PrincipalKind.ApiKey) {
    <i class="bi bi-key" [ngbTooltip]="'Portal.RbacManagement.PrincipalKind.ApiKey' | translate"></i>
  }
  @case (PrincipalKind.User) {
    <i class="bi bi-person" [ngbTooltip]="'Portal.RbacManagement.PrincipalKind.User' | translate"></i>
  }
}

@if (notFound) {
  <i class="ms-2 text-danger bi bi-exclamation-diamond-fill" [ngbTooltip]="'Portal.RbacManagement.PrincipalNotFound' | translate"></i>
}

<span class="ms-2" [ngClass]="{ 'text-danger': notFound }">{{ displayName?.value }}</span>
