@let writeAllowed = (authorizationService.isActionAllowed$(planningRealmId, Actions.GenericWrite) | async) ?? false;

<table class="table">
  <thead>
    <tr>
      <th translate="Portal.ViewPlanningRealm.TournamentClasses.Name"></th>
      <th translate="Portal.ViewPlanningRealm.TournamentClasses.ApplicationCount"></th>
      <th translate="Portal.ViewPlanningRealm.TournamentClasses.MaxTeamCount"></th>
      @if (writeAllowed) {
        <th translate="Portal.ViewPlanningRealm.TournamentClasses.Edit"></th>
        <th>
          <span class="d-none d-md-block" translate="Portal.ViewPlanningRealm.TournamentClasses.Delete"></span>
        </th>
      }
    </tr>
  </thead>

  <tbody>
    @for (tournamentClass of tournamentClasses; track tournamentClass.id) {
      <tr>
        <td class="align-middle">{{ tournamentClass.name }}</td>
        <td class="align-middle">
          <!-- TODO: Load & display applications count from backend -->
          <div class="badge rounded-pill text-bg-danger">TODO</div>
        </td>
        <td class="align-middle">
          @if (tournamentClass.maxTeamCount) {
            {{ tournamentClass.maxTeamCount }}
          } @else {
            <span>&infin;</span>
          }
        </td>
        @if (writeAllowed) {
          <td class="align-middle" [ngClass]="{ 'pe-0': currentlyUpdatingId !== tournamentClass.id }">
            <!-- 'pe-0' of the table cell is removed while the spinner is shown to prevent "jumping" of the right hand columns -->
            @if (currentlyUpdatingId === tournamentClass.id) {
              <tp-small-spinner class="mx-2" />
            } @else {
              <tp-action-button
                [type]="'outline-secondary'"
                [icon]="'gear'"
                [mode]="'IconOnly'"
                [disabled]="currentlyUpdatingId === tournamentClass.id" />
            }
          </td>
          <td class="align-middle" [ngClass]="{ 'ps-0': true }">
            <!-- TODO: Disable padding based on delete logic below -->
            <!-- TODO: Show delete button if number of applications for this class = 0 + implement delete logic -->
            <tp-tooltip-icon [tooltipText]="'Portal.ViewPlanningRealm.TournamentClasses.DeleteNotPossible'" />
          </td>
        }
      </tr>
    } @empty {
      <tr>
        <td translate="Portal.ViewPlanningRealm.TournamentClasses.NoTournamentClasses"></td>
      </tr>
    }
  </tbody>
</table>
