@let writeAllowed = (authorizationService.isActionAllowed$(planningRealm.id, Actions.GenericWrite) | async) ?? false;

<table class="table">
  <thead>
    <tr>
      <th translate="Portal.ViewPlanningRealm.TournamentClasses.Name"></th>
      <th translate="Portal.ViewPlanningRealm.TournamentClasses.InvitationLinkCount"></th>
      <th translate="Portal.ViewPlanningRealm.TournamentClasses.ApplicationCount"></th>
      <th></th>
      @if (writeAllowed) {
        <th style="width: 1px"></th>
        <th style="width: 1px"></th>
      }
    </tr>
  </thead>

  <tbody>
    @for (tournamentClass of planningRealm.tournamentClasses; track tournamentClass.id) {
      <tr>
        <td class="align-middle">{{ tournamentClass.name }}</td>
        <td class="align-middle">{{ getNumberOfReferencingLinks(tournamentClass.id) }}</td>
        <td class="align-middle">{{ tournamentClass.numberOfTeams }}</td>
        <td>
          <!-- TODO: PERMISSION CHECK -->
          @if (tournamentClass.id > 0) {
            <!-- Navigation to search is not possible if this tournament class has not been saved yet -->
            <tp-action-button
              [type]="'light'"
              [icon]="'search'"
              [mode]="'IconOnly'"
              (click)="searchApplicationsClicked(tournamentClass.id)" />
          }
        </td>
        @if (writeAllowed) {
          <td class="align-middle pe-0">
            <tp-rename-button
              translationKey="Portal.ViewPlanningRealm.TournamentClasses.Rename"
              [displayLabel]="false"
              [current]="tournamentClass.name"
              (renamed)="renameTournamentClass(tournamentClass.id, $event)" />
          </td>
          @let canDelete = tournamentClass.numberOfTeams === 0;
          <td class="align-middle">
            <div class="d-flex flex-row align-items-center">
              <tp-delete-button [disabled]="!canDelete" (confirmed)="deleteTournamentClass(tournamentClass.id)" />
              @if (!canDelete) {
                <tp-tooltip-icon [tooltipText]="'Portal.ViewPlanningRealm.TournamentClasses.DeleteNotPossible'" />
              }
            </div>
          </td>
        }
      </tr>
    } @empty {
      <tr>
        <td colspan="3" translate="Portal.ViewPlanningRealm.TournamentClasses.NoTournamentClasses"></td>
      </tr>
    }
  </tbody>
</table>
