@let writeAllowed = (authorizationService.isActionAllowed$(planningRealm.id, Actions.GenericWrite) | async) ?? false;

<table class="table">
  <thead>
    <tr>
      <th translate="Portal.ViewPlanningRealm.TournamentClasses.Name"></th>
      <th translate="Portal.ViewPlanningRealm.TournamentClasses.InvitationLinkCount"></th>
      <th translate="Portal.ViewPlanningRealm.TournamentClasses.ApplicationCount"></th>
      <th translate="Portal.ViewPlanningRealm.TournamentClasses.MaxTeamCount"></th>
      @if (writeAllowed) {
        <th style="width: 1px"></th>
        <th style="width: 1px"></th>
      }
    </tr>
  </thead>

  <tbody>
    @for (tournamentClass of planningRealm.tournamentClasses; track tournamentClass.id) {
      <tr>
        <td class="align-middle">{{ tournamentClass.name }}</td>
        <td class="align-middle">{{ getNumberOfReferencingLinks(tournamentClass.id) }}</td>
        <td class="align-middle">
          {{ tournamentClass.numberOfTeams }}
          <!-- TODO: Add button which switches to applications page with correct filter -->
        </td>
        <td class="align-middle">
          @if (tournamentClass.maxTeamCount) {
            {{ tournamentClass.maxTeamCount }}
          } @else {
            <span>&infin;</span>
          }
        </td>
        @if (writeAllowed) {
          <td class="align-middle pe-0">
            <tp-action-button
              [type]="'outline-secondary'"
              [icon]="'gear'"
              [mode]="'IconOnly'"
              (click)="editTournamentClass(tournamentClass.id)" />
          </td>
          @let canDelete = tournamentClass.numberOfTeams === 0;
          <td class="align-middle" [ngClass]="{ 'ps-1': !canDelete }">
            @if (canDelete) {
              <tp-delete-button (confirmed)="deleteTournamentClass(tournamentClass.id)" />
            } @else {
              <tp-tooltip-icon [tooltipText]="'Portal.ViewPlanningRealm.TournamentClasses.DeleteNotPossible'" />
            }
          </td>
        }
      </tr>
    } @empty {
      <tr>
        <td translate="Portal.ViewPlanningRealm.TournamentClasses.NoTournamentClasses"></td>
      </tr>
    }
  </tbody>
</table>
