<ng-container *tpLoadingState="loadingState">
  @if (resourcePlanner) {
    <tp-page-frame
      #pageFrame
      [title]="resourcePlanner.name"
      [backLink]="'../../organization/' + resourcePlanner.organizationId"
      [navigationTabs]="pages"
      [contextEntityId]="resourcePlanner.id"
      [rememberNavigationTab]="true"
      (navigationTabSelected)="togglePage($event.id)">
      <ng-template #buttons> </ng-template>

      <ng-template #mainContent>
        <!-- Resources page does not need the div since it uses full-width content exlusively. -->
        @if (currentPage !== 0) {
          <div class="card">
            @switch (currentPage) {
              @case (1) {
                <!-- Views page -->
                views
              }
              @case (2) {
                <!-- Settings page -->
                settings
              }
            }
          </div>
        }
      </ng-template>

      <ng-template #fullWidthContent>
        @if (currentPage === 0) {
          <!-- Resources page -->
          resources
        }
      </ng-template>
    </tp-page-frame>
  }
</ng-container>
