html, body, .overlay-background {
  background-color: #eee;
}

.header-logo {
  img {
    height: 2em;
  }
}

.cursor-pointer {
  cursor: pointer;
}

@media (width < 900px) {
  .footer-section {
    width: 100%;
    margin-bottom: 1em;
  }
}

@media (width >= 900px) {
  .footer-section {
    width: 50%;
  }

  .footer-section-right {
    align-items: end;
  }
}

.btn {
  border-radius: 0 !important;
}

tr.ranking-1 > td {
  background: #fff9d9 !important;
}

tr.ranking-2 > td {
  background: #efefef !important;
}

tr.ranking-3 > td {
  background: #f1e1d6 !important;
}
