@if (isInitialized) {
  <div class="modal-header">
    <div class="modal-title" [translate]="translationKey + '.Title'"></div>
    <button type="button" class="btn-close" (click)="modal.dismiss()" [tabindex]="-1"></button>
  </div>
  <div class="modal-body d-flex flex-column">
    <div class="form-group">
      <label class="form-label" for="currentValue" [translate]="translationKey + '.InfoText'"></label>
      @if (textArea) {
        <textarea
          id="currentValue"
          class="form-control"
          [rows]="10"
          [(ngModel)]="currentValue"
          [ngClass]="{ 'is-invalid': showError }"
          (keyup)="onKeyUp($event)"
          (ngModelChange)="wasChanged = true"></textarea>
      } @else {
        <input
          class="form-control"
          type="text"
          id="currentValue"
          [(ngModel)]="currentValue"
          [ngClass]="{ 'is-invalid': showError }"
          (keyup)="onKeyUp($event)"
          (ngModelChange)="wasChanged = true" />
      }

      @if (showError) {
        <div class="invalid-feedback" [translate]="translationKey + '.' + showError"></div>
      }
    </div>

    @if (alert) {
      <hr />
      <tp-alert [icon]="alert.icon" [type]="alert.type" [text]="translationKey + '.Alert'" />
    }
  </div>
  <div class="modal-footer">
    @if (textArea) {
      <span class="flex-grow-1 small text-secondary" translate="Portal.General.CtrlEnter"></span>
    }
    <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Cancel'" (buttonClick)="modal.dismiss()" />
    <tp-action-button [type]="'success'" [title]="translationKey + '.Confirm'" (buttonClick)="save()" />
  </div>
}
