@if (isInitialized) {
  <div class="modal-header">
    <h4 class="modal-title" [translate]="translationKey + '.Title'"></h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()" [tabindex]="-1"></button>
  </div>
  <div class="modal-body d-flex flex-column">
    <div class="form-group">
      <label class="form-label" for="name" [translate]="translationKey + '.EnterNewName'"></label>
      <input
        class="form-control"
        type="text"
        id="name"
        [(ngModel)]="currentValue"
        [ngClass]="{ 'is-invalid': showError }"
        (keyup.enter)="save(true)"
        (change)="wasChanged = true" />

      @if (showError) {
        <div class="invalid-feedback" [translate]="translationKey + '.' + showError"></div>
      }
    </div>
    <div class="mt-3 small" *ngIf="allowReset" [translate]="translationKey + '.EmptyAllowed'"></div>
  </div>
  <div class="modal-footer">
    <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Cancel'" (click)="modal.dismiss()" />
    <tp-action-button [type]="'success'" [title]="'Portal.General.Save'" (click)="save()" />
  </div>
}
