<div class="d-flex flex-row gap-2">
  <input
    class="form-control form-control-sm flex-grow-1"
    [placeholder]="'Portal.ViewPlanningRealm.Applications.FilterPanel.SearchTerm' | translate"
    [attr.aria-label]="'Portal.ViewPlanningRealm.Applications.FilterPanel.SearchTerm' | translate"
    [(ngModel)]="searchTerm"
    (keyup.enter)="emitFilter()" />
  <tp-action-button
    [type]="'outline-secondary'"
    [icon]="'x-circle'"
    [mode]="'IconOnly'"
    [ngbTooltip]="'Portal.ViewPlanningRealm.Applications.FilterPanel.Reset' | translate"
    (click)="resetAndEmitFilter()" />
  <tp-action-button
    [type]="'outline-primary'"
    [icon]="'search'"
    [title]="'Portal.ViewPlanningRealm.Applications.FilterPanel.Search'"
    (click)="emitFilter()" />
</div>
