@use 'bootstrap/scss/bootstrap' as bootstrap;
@use 'bootstrap-icons/font/bootstrap-icons.min.css';
@use 'ngx-toastr/toastr';
@use 'sass:map';

* {
  font-family: system-ui, 'Segoe UI', sans-serif !important;
}

body {
  background-color: #fff;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
  overflow-y: scroll;
}

@include bootstrap.color-mode(dark) {
  body {
    background-color: #212529 !important;
  }
}

.tp-text-pre-wrap {
  white-space: pre-wrap;
}

.tp-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tp-cursor-default {
  cursor: default;
}

.tp-cursor-pointer {
  cursor: pointer;
}

.tp-cursor-not-allowed {
  cursor: not-allowed;
}

.tp-cursor-move {
  cursor: all-scroll;
}

.tp-text-shadow {
  // Creates a "slightly bold" effect without changing text width
  text-shadow: 0 0 1px #444;
}

.tp-border-card {
  // Set the border color to the same color used by bootstrap for card/modal borders
  border-color: rgb(222 226 230);
}

.tp-no-spin-buttons {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type='number'] {
    appearance: textfield;
  }
}

@include bootstrap.media-breakpoint-down(md) {
  .tp-ultra-slim-container {
    // Use the same padding as the default Bootstrap container
    padding-left: (0.5 * bootstrap.$container-padding-x) !important;
    padding-right: (0.5 * bootstrap.$container-padding-x) !important;
  }
}

@include bootstrap.media-breakpoint-up(md) {
  .tp-ultra-slim-container {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: map.get(bootstrap.$container-max-widths, md);
  }
}

@include bootstrap.media-breakpoint-up(xl) {
  .container {
    max-width: map.get(bootstrap.$container-max-widths, xl);
  }
}

.tp-popover-slim {
  .popover-body {
    padding: 0;
  }
}

.form-check {
  .form-check-input,
  .form-check-label {
    cursor: pointer;
  }
}

.border-transparent {
  border-color: transparent !important;
}

@include bootstrap.media-breakpoint-up(lg) {
  .border-lg-bottom-0 {
    border-bottom: 0 !important;
  }
}

@include bootstrap.media-breakpoint-up(lg) {
  .border-lg-end {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  }
}

.tp-header {
  background: linear-gradient(30deg, #001a25, #222);
  height: 3em;
  width: 100%;
  z-index: 1000;

  a {
    text-decoration: none;
  }

  .tp-header-logo {
    height: 2em;
  }
}

@include bootstrap.color-mode(dark) {
  .tp-header {
    background: linear-gradient(30deg, #001a25, #333);
  }
}

.tp-footer {
  background: #f7f7f7;
  box-shadow: 0 -5px 5px -5px #ccc;
  color: #888 !important;
  font-size: 0.9em;
  width: 100%;

  // Modal background is ~1000
  z-index: 500;
}

.tp-footer-layout {
  a {
    color: unset;
    text-decoration: none;
  }

  .footer-item:not(:last-child)::after {
    color: #888 !important;
    content: '|';
    font-weight: normal !important;
    padding: 0 0.35em;
  }
}

@include bootstrap.color-mode(dark) {
  .tp-footer {
    background: #1f1f1f !important;
    box-shadow: 0 -5px 5px -5px #222;
  }
}

@include bootstrap.media-breakpoint-up(lg) {
  .w-lg-50 {
    width: 50%;
  }
}

.offcanvas {
  width: 600px !important;
}

.dropdown-menu {
  min-width: 20em !important;
}

.modal-title {
  font-weight: 500;
  font-size: 1.5em;
}

ul.pagination {
  margin-bottom: 0;
}

.tp-invisible-button:hover {
  background: #f7f7f7;
}

@include bootstrap.color-mode(dark) {
  .tp-invisible-button:hover {
    background: #2c3237ff !important;
  }
}

.tp-monospace-box {
  background: #eee;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-size: 0.9em;
}

@include bootstrap.color-mode(dark) {
  .tp-monospace-box {
    background: #31373d !important;
    border-color: bootstrap.$secondary !important;
  }
}

.tp-bg-check-pattern {
  background-image: linear-gradient(to left, #f7f7f7 1px, transparent 1px), linear-gradient(to top, #f7f7f7 1px, transparent 1px);
  background-size: 1em 1em;
}

@include bootstrap.color-mode(dark) {
  .tp-bg-check-pattern {
    background-image: linear-gradient(to left, #444 1px, transparent 1px), linear-gradient(to top, #444 1px, transparent 1px) !important;
  }
}

// dark-mode specific CSS which cannot be specified in the components due to view encapsulation

@include bootstrap.color-mode(dark) {
  .updates-tile-loading {
    background: linear-gradient(3deg, #222, #5b717c) !important;
  }

  .updates-tile-error {
    background: linear-gradient(3deg, #222, #b18383) !important;
  }

  .updates-tile-up-to-date {
    background: linear-gradient(3deg, #222, #789c67) !important;
  }

  .updates-tile-outdated {
    background: linear-gradient(3deg, #222, #9e78a3) !important;

    i {
      color: #e744ff !important;
    }
  }
}

// TODO: Check usage of 'text-secondary'
