<div class="modal-header">
  <div class="modal-title" translate="Portal.ConfigureTournament.ValidationErrors.Title"></div>
  <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body d-flex flex-column gap-2">
  <div class="mb-4" translate="Portal.ConfigureTournament.ValidationErrors.Info"></div>
  <ul>
    @for (key of _errorKeys; track key) {
      <li>
        {{ key }}
        <ul>
          @for (error of _errors[key]; track error) {
            <li>{{ error }}</li>
          }
        </ul>
      </li>
    }
  </ul>
</div>
<div class="modal-footer">
  <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Done'" (click)="modal.dismiss()" />
</div>
