<ng-container *tpLoadingState="loadingState">
  <tp-page-frame
    *ngIf="planningRealm"
    [title]="planningRealm.name"
    [backLink]="'../../organization/' + planningRealm.organizationId"
    [navigationTabs]="pages"
    [contextEntityId]="planningRealm.id"
    [rememberNavigationTab]="true"
    (navigationTabSelected)="togglePage($event.id)">
    <ng-template #buttons>
      @switch (currentPage) {
        @case (0) {
          <!-- Tournament classes page -->
          <div>TODO</div>
        }
        @case (1) {
          <!-- Invitation links page -->
          <div>TODO</div>
        }
        @case (3) {
          @if (isUpdatingName) {
            <tp-small-spinner />
          }
          <tp-rename-button
            translationKey="Portal.ViewPlanningRealm.Settings.Rename"
            [current]="planningRealm.name"
            [disabled]="isUpdatingName"
            (renamed)="renamePlanningRealm($event)" />
        }
      }
    </ng-template>
    <ng-template #content>
      <div class="card">
        @switch (currentPage) {
          @case (0) {
            <!-- Tournament classes page -->
            <div>TODO</div>
          }
          @case (1) {
            <!-- Invitation links page -->
            <div>TODO</div>
          }
          @case (2) {
            <!-- Invitations page -->
            <div>TODO</div>
          }
          @case (3) {
            <!-- Settings page -->
            <ng-container *tpIsActionAllowed="[planningRealm.id, Actions.ReadOrWriteRoleAssignments]">
              <div class="card-body">
                <tp-rbac-widget
                  [translationKey]="'Portal.ViewPlanningRealm.RbacWidget'"
                  [target]="planningRealm"
                  (errorOccured)="loadingState = { isLoading: false, error: $event }" />
              </div>
              <hr class="m-0" />
            </ng-container>
            <div class="card-body">
              <tp-delete-widget
                [translationKey]="'Portal.ViewPlanningRealm.DeleteWidget'"
                [targetObjectName]="planningRealm.name"
                (deleteClick)="deletePlanningRealm()" />
            </div>
          }
        }
      </div>
    </ng-template>
  </tp-page-frame>
</ng-container>
