.image-container {
  max-height: 40em;
}

.image-tile {
  &.current {
    background: repeating-linear-gradient(135deg, #e5f3e6, #e5f3e6 10px, #daf1db 10px, #daf1db 20px);
  }

  &:hover,
  &.hover-override {
    border-color: #333 !important;

    .hover-buttons {
      background: rgb(255 255 255 / 60%);
      display: flex !important;
    }
  }

  div {
    height: 10em;
    width: 10em;
  }
}
