@if (isInitialized) {
  <div class="modal-header">
    <div class="modal-title" [translate]="'Portal.ImageChooser.Title'"></div>
    <button type="button" class="btn-close" (click)="modal.dismiss()" [tabindex]="-1"></button>
  </div>
  <div class="modal-body d-flex flex-column">
    @if (isLoadingImages) {
      <div class="my-4">
        <tp-loading-indicator [marginY]="false" />
      </div>
    } @else {
      <div class="px-3 d-flex flex-row align-items-center gap-3">
        <div class="flex-grow-1 small text-secondary d-flex flex-row align-items-start gap-2">
          <i class="bi bi-info-circle align-self-start"></i>
          <span class="flex-grow-1" [translate]="'Portal.ImageChooser.UploadViaOrgPage'"></span>
        </div>
      </div>

      <div class="p-3 d-flex flex-row flex-wrap gap-2 overflow-y-scroll justify-content-start image-container">
        @for (image of existingImages; track image.id) {
          <div
            class="border shadow-sm image-tile position-relative"
            [ngClass]="{
              'border-success bg-success-subtle': image.id === currentImageId,
              'hover-override': image.id === hoverOverrideImageId
            }">
            <div
              class="hover-buttons d-none position-absolute flex-row align-items-center justify-content-center gap-2"
              style="top: 0; left: 0">
              @if (image.id !== currentImageId) {
                <tp-action-button
                  [type]="'success'"
                  [mode]="'IconOnly'"
                  [icon]="'check-lg'"
                  (buttonClick)="image.id !== currentImageId && modal.close({ type: 'ImageSelected', image: image })" />
              }
            </div>
            <div class="image-wrapper d-flex flex-column align-items-center justify-content-center">
              <img
                style="max-width: 9em"
                [src]="image.url"
                [alt]="image.name"
                [title]="image.name"
                (click)="hoverOverrideImageId = image.id" />
            </div>
          </div>
        } @empty {
          <div class="flex-grow-1 text-center mt-4 fst-italic" translate="Portal.ImageChooser.NoImages"></div>
        }
      </div>
    }
  </div>
  @if (!isLoadingImages) {
    <div class="modal-footer">
      @if (currentImageId !== undefined) {
        <tp-action-button
          [type]="'outline-secondary'"
          [title]="'Portal.ImageChooser.Remove'"
          (buttonClick)="modal.close({ type: 'ImageSelected', image: undefined })" />
      }
      <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Cancel'" (buttonClick)="modal.dismiss()" />
    </div>
  }
}
