.image-container {
  max-height: 40em;
}

.image-info {
  max-width: 9em;

  &.xsmall {
    font-size: 0.7em;
  }
}

.image-tile {
  &:not(.is-current-image) {
    &:hover,
    &.hover-override {
      border-color: #333 !important;

      .hover-buttons {
        background: rgb(255 255 255 / 85%);
        display: flex !important;
      }
    }
  }

  div {
    height: 10em;
    width: 10em;
  }
}
