.image-container {
  max-height: 40em;
}

.image-tile {
  &:hover,
  &.hover-override {
    border-color: #333 !important;

    .hover-buttons {
      background: rgb(255 255 255 / 60%);
      display: flex !important;
    }
  }

  div {
    height: 10em;
    width: 10em;
  }
}
