.image-container {
  max-height: 40em;
}

.image-info {
  max-width: 9em;

  &.xsmall {
    font-size: 0.7em;
  }
}

.image-tile {
  &:hover,
  &.hover-override {
    .hover-buttons {
      display: flex !important;
      z-index: 2;
    }

    .image-wrapper {
      img {
        opacity: 0.1;
      }
    }
  }

  div {
    height: 10em;
    width: 10em;
  }
}
