@if (isInitialized) {
  <div class="modal-header">
    <h4 class="modal-title" [translate]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.Title'"></h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()" [tabindex]="-1"></button>
  </div>
  <div class="modal-body d-flex flex-column">
    <div class="form-group">
      <label class="form-label" for="name" [translate]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.Name'"></label>
      <input
        class="form-control"
        type="text"
        id="name"
        [(ngModel)]="name"
        [ngClass]="{ 'is-invalid': nameInvalid }"
        (keyup.enter)="save()" />
      @if (nameInvalid) {
        <div class="invalid-feedback" [translate]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.NameInvalid'"></div>
      }
    </div>
    @if (name !== initialName && isClassReferencedByInvitationLink) {
      <tp-alert
        [margin]="'mb-0 mt-3'"
        [type]="'warning'"
        [icon]="'exclamation-triangle'"
        [text]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.NameAlert'" />
    }
    <hr />
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="limitMaxTeamsCount"
        [ngModel]="maxTeamCount !== undefined"
        (ngModelChange)="limitMaxTeamCountChanged($event)" />
      <label
        class="form-check-label"
        for="limitMaxTeamsCount"
        translate="Portal.ViewPlanningRealm.TournamentClasses.EditDialog.LimitMaxTeamCount"></label>
    </div>
    @if (maxTeamCount !== undefined) {
      <div class="mt-2 form-group">
        <input
          class="form-control"
          type="number"
          id="maxTeamCount"
          [min]="2"
          [(ngModel)]="maxTeamCount"
          [ngClass]="{ 'is-invalid': maxTeamCount < 2 }"
          [attr.aria-label]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.MaxTeamCount' | translate"
          (keyup.enter)="save()" />
        @if (maxTeamCount < 2) {
          <div class="invalid-feedback" [translate]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.MaxTeamCountInvalid'"></div>
        }
      </div>

      @if (maxTeamCount < currentNumberOfTeams) {
        <tp-alert
          [margin]="'mb-0 mt-3'"
          [type]="'info'"
          [icon]="'info-circle'"
          [text]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.MaxTeamCountAlert'"
          [textParams]="{ actual: currentNumberOfTeams, limit: maxTeamCount }" />
      }
    }
  </div>
  <div class="modal-footer">
    <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Cancel'" (click)="modal.dismiss()" />
    <tp-action-button [type]="'success'" [title]="'Portal.General.Save'" (click)="save()" />
  </div>
}
