@if (isInitialized) {
  <div class="modal-header">
    <h4 class="modal-title" [translate]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.Title'"></h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()" [tabindex]="-1"></button>
  </div>
  <div class="modal-body d-flex flex-column">
    <div class="form-group">
      <label class="form-label" for="name" [translate]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.Name'"></label>
      <input
        class="form-control"
        type="text"
        id="name"
        [(ngModel)]="name"
        [ngClass]="{ 'is-invalid': nameInvalid }"
        (keyup.enter)="applyChanges()" />
      @if (nameInvalid) {
        <div class="invalid-feedback" [translate]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.NameInvalid'"></div>
      }
    </div>
    @if (name !== initialName && isClassReferencedByInvitationLink) {
      <tp-alert
        [margin]="'mb-0 mt-3'"
        [type]="'warning'"
        [icon]="'exclamation-triangle'"
        [text]="'Portal.ViewPlanningRealm.TournamentClasses.EditDialog.NameAlert'" />
    }
  </div>
  <div class="modal-footer">
    <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Cancel'" (click)="modal.dismiss()" />
    <tp-action-button [type]="'success'" [title]="'Portal.General.Apply'" (click)="applyChanges()" />
  </div>
}
