@if (isInitialized) {
  <div class="modal-header">
    <div class="modal-title" [translate]="translationKey + '.Title'"></div>
    <button type="button" class="btn-close" (click)="modal.dismiss()" [tabindex]="-1"></button>
  </div>
  <div class="modal-body d-flex flex-column">
    <div class="mb-3" [translate]="translationKey + '.HelpText'"></div>

    @for (control of getControls(); track control; let i = $index) {
      <div class="mb-2 d-flex flex-row align-items-start gap-2">
        <div class="flex-grow-1 form-group">
          <input
            class="form-control"
            type="text"
            [formControl]="control"
            [ngClass]="{ 'is-invalid': control.invalid && (!control.pristine || control.touched) }" />
          <div class="invalid-feedback" [translate]="translationKey + '.InvalidEntry'"></div>
        </div>
        <i class="mt-2 bi bi-trash text-danger tp-cursor-pointer" (click)="removeControlAtIndex(i)"></i>
      </div>
    } @empty {
      <div class="fst-italic text-secondary" translate="Portal.ViewVenue.Details.EditAddressDetails.NoEntries"></div>
    }

    <div class="mt-3 d-flex flex-row align-items-center">
      <tp-action-button
        [type]="'outline-primary'"
        [title]="translationKey + '.AddEntry'"
        [icon]="'plus-circle'"
        (click)="addEmptyControl()" />
    </div>
  </div>
  <div class="modal-footer">
    <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Cancel'" (click)="modal.dismiss()" />
    <tp-action-button [type]="'success'" [title]="'Portal.General.Save'" (click)="save()" />
  </div>
}
