@use 'bootstrap/scss/bootstrap-grid';
@use 'bootstrap/scss/bootstrap-reboot';
@use 'bootstrap/scss/bootstrap-utilities';
@use 'bootstrap-icons/font/bootstrap-icons.min.css';

* {
  font-family: 'Inter', sans-serif;
}

.tp-cursor-pointer {
  cursor: pointer;
}

.tp-shadow-sm {
  box-shadow: black 0 0 5px;
}

.tp-smaller {
  font-size: 0.9em;
}
