<div class="modal-header">
  <div class="modal-title" translate="Portal.ViewPlanningRealm.ExportApplications.DialogTitle"></div>
  <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="mb-2" [translate]="'Portal.ViewPlanningRealm.ExportApplications.InfoTest'"></div>
  <div [formGroup]="form">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="includeApplicationTeams"
        formControlName="includeApplicationTeams" />
      <label
        class="form-check-label"
        for="includeApplicationTeams"
        translate="Portal.ViewPlanningRealm.ExportApplications.IncludeApplicationTeams"></label>
    </div>
  </div>
</div>
<div class="modal-footer">
  @if (isDownloading) {
    <tp-small-spinner />
  }
  <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Cancel'" [disabled]="isDownloading" (buttonClick)="modal.dismiss()" />
  <tp-action-button
    [type]="'outline-primary'"
    [title]="'Portal.ViewPlanningRealm.ExportApplications.Download'"
    [icon]="'download'"
    [disabled]="isDownloading"
    (buttonClick)="exportApplications()" />
</div>
