<ng-container *tpLoadingState="loadingState">
  <tp-page-frame
    *ngIf="organization && tournaments"
    [title]="organization.name"
    [backLink]="'../..'"
    [navigationTabs]="pages"
    [contextEntityId]="organization.id"
    [rememberNavigationTab]="true"
    (navigationTabSelected)="togglePage($event.id)">
    <ng-template #buttons>
      @switch (currentPage) {
        @case (0) {
          <tp-action-button
            *tpIsActionAllowed="[organization.id, Actions.GenericWrite]"
            [title]="'Portal.ViewOrganization.NewTournament'"
            [type]="'outline-success'"
            [icon]="'plus-circle'"
            [routerLink]="'create/tournament'" />
        }
        @case (1) {
          <tp-action-button
            *tpIsActionAllowed="[organization.id, Actions.GenericWrite]"
            [title]="'Portal.ViewOrganization.NewVenue'"
            [type]="'outline-success'"
            [icon]="'plus-circle'"
            [routerLink]="'create/venue'" />
        }
        @case (2) {
          <tp-action-button
            *tpIsActionAllowed="[organization.id, Actions.GenericWrite]"
            [title]="'Portal.ViewOrganization.NewApiKey'"
            [type]="'outline-success'"
            [icon]="'plus-circle'"
            [routerLink]="'create/api-key'" />
        }
        @case (3) {
          @if (isUpdatingName) {
            <tp-small-spinner />
          }
          <tp-rename-button
            translationKey="Portal.ViewOrganization.Settings.Rename"
            [current]="organization.name"
            [disabled]="isUpdatingName"
            (renamed)="renameOrganization($event)" />
        }
      }
    </ng-template>
    <ng-template #content>
      <div class="card">
        @switch (currentPage) {
          @case (0) {
            <div class="card-header d-flex flex-row align-items-center">
              <tp-badge context="ViewOrganization" label="TournamentCount" [value]="tournaments.length" />
            </div>
            @if (tournaments.length === 0) {
              <div class="card-body">
                <div class="d-flex flex-row justify-content-center py-4 text-center">
                  <span class="tp-text-pre-wrap" translate="Portal.ViewOrganization.NoTournaments"></span>
                </div>
              </div>
            } @else {
              <div class="card-body p-0">
                <tp-tournament-explorer
                  [organization]="organization"
                  [tournaments]="tournaments"
                  (requestError)="loadingState = { isLoading: false, error: $event }" />
              </div>
            }
          }
          @case (1) {
            @if (isLoadingVenues || !venues) {
              <tp-loading-indicator class="my-5" [marginY]="false" />
            } @else {
              <div class="card-header d-flex flex-row align-items-center">
                <tp-badge context="ViewOrganization" label="VenueCount" [value]="venues.length" />
              </div>
              <div class="card-body">
                @if (venues.length === 0) {
                  <div class="d-flex flex-row justify-content-center py-4 text-center">
                    <span class="tp-text-pre-wrap" translate="Portal.ViewOrganization.NoVenues"></span>
                  </div>
                } @else {
                  <div class="d-flex flex-column gap-3">
                    @for (venue of venues; track venue.id) {
                      <tp-venue-tile [venue]="venue" />
                    }
                  </div>
                }
              </div>
            }
          }
          @case (2) {
            <!-- If the number is modified, check the @if statement below -->
            @if (isLoadingApiKeys || !apiKeys) {
              <tp-loading-indicator class="my-5" [marginY]="false" />
            } @else {
              @let writeAllowed = (authorizationService.isActionAllowed$(organization.id, Actions.GenericWrite) | async) ?? false;
              <div class="card-header d-flex flex-row align-items-center">
                <tp-badge context="ViewOrganization" label="ApiKeyCount" [value]="apiKeys.length" />
              </div>
              <div class="card-body p-0">
                <table class="table" [attr.aria-label]="'Portal.ViewOrganization.ApiKeys.TableLabel' | translate">
                  <thead>
                    <tr>
                      <th translate="Portal.ViewOrganization.ApiKeys.Id"></th>
                      <th style="width: 30%" translate="Portal.ViewOrganization.ApiKeys.Description"></th>
                      <th translate="Portal.ViewOrganization.ApiKeys.CreatedAt"></th>
                      <th translate="Portal.ViewOrganization.ApiKeys.ExpiryDate"></th>
                      <th class="text-center" translate="Portal.ViewOrganization.ApiKeys.IsActive"></th>
                      <th></th>
                      @if (writeAllowed) {
                        <th></th>
                      }
                    </tr>
                  </thead>
                  <tbody>
                    @for (apiKey of apiKeys; track apiKey) {
                      <tr>
                        <td class="align-middle">{{ apiKey.id }}</td>
                        <td class="align-middle">
                          <div>{{ apiKey.name }}</div>
                          <div class="small text-secondary">{{ apiKey.description }}</div>
                        </td>
                        <td class="align-middle">{{ apiKey.createdAt | translateDate: 'medium' }}</td>
                        <td class="align-middle" [ngClass]="{ 'text-secondary': apiKey.isExpired }">
                          {{ apiKey.expiryDate | translateDate: 'medium' }}
                          @if (apiKey.isExpired) {
                            <tp-tooltip-icon [tooltipText]="'Portal.ViewOrganization.ApiKeys.Expired'" />
                          }
                        </td>
                        <td class="align-middle text-center">
                          @if (apiKey.isExpired) {
                            <i class="bi bi-x-circle text-danger"></i>
                          } @else {
                            <div class="form-switch">
                              <input
                                type="checkbox"
                                class="form-check-input"
                                [disabled]="!writeAllowed"
                                [ngModel]="apiKey.isActive"
                                (ngModelChange)="writeAllowed && setApiKeyActive(apiKey, $event)" />
                            </div>
                          }
                        </td>
                        <td class="align-middle" style="width: 1px" [ngClass]="{ 'pe-0': writeAllowed }">
                          <tp-action-button
                            icon="bar-chart-line"
                            type="outline-secondary"
                            [attr.aria-label]="'Portal.ViewOrganization.ApiKeys.ViewCharts' | translate"
                            [mode]="'IconOnly'"
                            (click)="displayApiKeyUsage = apiKey.id" />
                        </td>
                        @if (writeAllowed) {
                          <td class="align-middle" style="width: 1px">
                            <tp-delete-button (confirmed)="deleteApiKey(apiKey.id)" />
                          </td>
                        }
                      </tr>

                      @if (apiKey.id === displayApiKeyUsage) {
                        <tr>
                          <td [attr.colspan]="writeAllowed ? 7 : 6">
                            <tp-api-key-usage [apiKeyId]="apiKey.id" (errorOccured)="loadingState = { isLoading: false, error: $event }" />
                          </td>
                        </tr>
                      }
                    } @empty {
                      <tr>
                        <td translate="Portal.ViewOrganization.ApiKeys.NoApiKeys" [attr.colspan]="7"></td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            }
          }
          @case (3) {
            <div class="card-body">
              <tp-rbac-widget
                [translationKey]="'Portal.ViewOrganization.RbacWidget'"
                [target]="organization"
                (errorOccured)="loadingState = { isLoading: false, error: $event }" />
            </div>
            <hr class="m-0" />
            <div class="card-body">
              <tp-delete-widget
                [translationKey]="'Portal.ViewOrganization.DeleteWidget'"
                [targetObjectName]="organization.name"
                (deleteClick)="deleteOrganization()"></tp-delete-widget>
            </div>
          }
        }
      </div>
    </ng-template>
  </tp-page-frame>
</ng-container>
