<div class="modal-header">
  <div class="modal-title" [translate]="translationKey + '.Title'"></div>
</div>
<div class="modal-body d-flex flex-column">
  <div [innerHTML]="'Portal.DeleteModal.InfoText' | translate"></div>

  <!-- Compare translated text with the translation key. If they are equal, no additional modal text is defined. -->
  @let additionalModalTextKey = translationKey + '.AdditionalModalText';
  @let additionalModalText = additionalModalTextKey | translate;
  @if (additionalModalText !== additionalModalTextKey) {
    <div class="mt-3">{{ additionalModalText }}</div>
  }
  <div class="mt-3 d-flex flex-row gap-2 text-danger">
    <i class="bi bi-trash"></i>
    <span class="fw-bold">{{ targetObjectName }}</span>
  </div>
</div>
<div class="modal-footer">
  <tp-action-button [type]="'outline-dark'" [title]="'Portal.General.Cancel'" (buttonClick)="modal.dismiss()" />
  <tp-action-button
    [tpE2E]="'delete-modal-confirm-delete-button'"
    [type]="'danger'"
    [icon]="'trash'"
    [title]="'Portal.DeleteModal.Confirm'"
    (buttonClick)="modal.close(true)" />
</div>
