.updates-tile-loading {
  background: linear-gradient(3deg, #ffffff, #ccefff);
}

.updates-tile-error {
  background: linear-gradient(3deg, #ffffff, #ffe1e1);
}

.updates-tile-up-to-date {
  background: linear-gradient(3deg, #ffffff, #d3e6cb);
}

.updates-tile-outdated {
  background: linear-gradient(3deg, #ffffff, #e7c2ec);

  i {
    color: #9200a5;
  }
}
