@let writeAllowed = (authorizationService.isActionAllowed$(planningRealm.id, Actions.GenericWrite) | async) ?? false;

<div class="card shadow-sm">
  <div class="card-body d-flex flex-column gap-3">
    <div class="fs-5 fw-bold card-title mb-0">
      <span
        class="me-2 d-inline-block text-center text-white"
        style="width: 1.3em; border-radius: 0.4em"
        [ngStyle]="{ 'background-color': '#' + invitationLink.colorCode }">
        <i class="bi bi-link-45deg"></i>
      </span>

      <span>{{ invitationLink.name }}</span>
    </div>

    <div class="row">
      <div class="col-12 col-lg-7 d-flex flex-column">
        <div class="row">
          <div class="col-12 col-md-6 d-flex flex-column">
            <div class="fw-bold" translate="Portal.ViewPlanningRealm.InvitationLink.Properties.Title"></div>
            <div class="mb-2">{{ invitationLink.title ?? '-' }}</div>
            <div class="fw-bold" translate="Portal.ViewPlanningRealm.InvitationLink.Properties.Description"></div>
            <div class="mb-2">{{ invitationLink.description ?? '-' }}</div>
            <div class="fw-bold" translate="Portal.ViewPlanningRealm.InvitationLink.Properties.ValidUntil"></div>
            @if (invitationLink.validUntil) {
              <div class="mb-2">{{ invitationLink.validUntil | translateDate: 'medium' }}</div>
            } @else {
              <div class="mb-2">-</div>
            }
            @if (writeAllowed) {
              <tp-action-button
                class="mt-3"
                [type]="'outline-secondary'"
                [title]="'Portal.ViewPlanningRealm.InvitationLink.EditProperties'"
                [icon]="'pencil'" />
            }
          </div>
          <div class="col-12 col-md-6 d-flex flex-column">
            <div class="fw-bold" translate="Portal.ViewPlanningRealm.InvitationLink.Properties.ContactPerson"></div>
            <div class="mb-2">{{ invitationLink.contactPerson ?? '-' }}</div>
            <div class="fw-bold" translate="Portal.ViewPlanningRealm.InvitationLink.Properties.ContactEmail"></div>
            <div class="mb-2">{{ invitationLink.contactEmail ?? '-' }}</div>
            <div class="fw-bold" translate="Portal.ViewPlanningRealm.InvitationLink.Properties.ContactTelephone"></div>
            <div class="mb-2">{{ invitationLink.contactTelephone ?? '-' }}</div>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-lg-5 pt-5 pb-3 d-flex flex-column flex-md-row justify-content-center justify-content-lg-end pt-lg-0 pb-lg-0 gap-3">
        <tp-image-widget
          [currentImage]="invitationLink.primaryLogo"
          [imageAlt]="'PrimaryLogo'"
          [imageType]="ImageType.SquareLargeLogo"
          [organizationId]="planningRealm.organizationId"
          [allowChanging]="writeAllowed"
          (imageChange)="setImage('primaryLogo', $event)"
          (apiError)="errorOccured.emit($event)" />
        <tp-image-widget
          [currentImage]="invitationLink.secondaryLogo"
          [imageAlt]="'SecondaryLogo'"
          [imageType]="ImageType.SquareLargeLogo"
          [organizationId]="planningRealm.organizationId"
          [allowChanging]="writeAllowed"
          (imageChange)="setImage('secondaryLogo', $event)"
          (apiError)="errorOccured.emit($event)" />
      </div>
    </div>

    @if (invitationLink.entries.length === 0) {
      <div>
        <div class="fw-bold">Turniere:</div>
        <div class="fst-italic" translate="Portal.ViewPlanningRealm.InvitationLink.Tournaments.NoTournaments"></div>
      </div>
    } @else {
      <div class="fw-bold mt-3">Turniere:</div>
      <table class="mb-0 table table-bordered">
        <thead>
          <tr>
            <th translate="Portal.ViewPlanningRealm.InvitationLink.Tournaments.Tournament"></th>
            <th>
              <span translate="Portal.ViewPlanningRealm.InvitationLink.Tournaments.AllowNewRegistrations"></span>
              <tp-tooltip-icon
                [icon]="'question-circle'"
                [tooltipText]="'Portal.ViewPlanningRealm.InvitationLink.Tournaments.AllowNewRegistrationsTooltip'" />
            </th>
            <th>
              <span translate="Portal.ViewPlanningRealm.InvitationLink.Tournaments.MaxTeamsPerRegistration"></span>
              <tp-tooltip-icon
                [icon]="'question-circle'"
                [tooltipText]="'Portal.ViewPlanningRealm.InvitationLink.Tournaments.MaxTeamsPerRegistrationTooltip'" />
            </th>
            <th translate="Portal.ViewPlanningRealm.InvitationLink.Tournaments.NumberOfTeams">
              <!-- TODO: Add button which switches to applications page with correct filter -->
            </th>
            @if (writeAllowed) {
              <th style="width: 1px"></th>
            }
          </tr>
        </thead>
        <tbody>
          @for (entry of invitationLink.entries; track entry.tournamentClassId) {
            @let tournamentClass = findTournamentClassById(entry.tournamentClassId);
            <tr>
              <td class="align-middle">{{ tournamentClass.name }}</td>
              <td class="align-middle">
                @if (entry.allowNewRegistrations) {
                  <i class="text-success bi bi-check-circle-fill"></i>
                } @else {
                  <i class="text-secondary bi bi-pause-circle"></i>
                }
              </td>
              <td class="align-middle">
                @if (entry.maxTeamsPerRegistration) {
                  {{ entry.maxTeamsPerRegistration }}
                } @else {
                  &infin;
                }
              </td>
              <td>{{ entry.numberOfTeams }}</td>
              @if (writeAllowed) {
                <td class="text-nowrap">
                  <tp-action-button [type]="'outline-secondary'" [icon]="'pencil'" [mode]="'IconOnly'" />
                  <tp-delete-button class="ms-1" />
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    }
    @if (writeAllowed) {
      <tp-action-button
        [type]="'outline-secondary'"
        [icon]="'plus-circle'"
        [title]="'Portal.ViewPlanningRealm.InvitationLink.AddTournament'" />
    }
  </div>
  <div class="card-footer text-end pe-2">
    @if (writeAllowed) {
      @let canDelete = invitationLink.numberOfApplications === 0;
      @if (canDelete) {
        <tp-delete-button (confirmed)="deleteInvitationLink()" />
      } @else {
        <tp-tooltip-icon [tooltipText]="'Portal.ViewPlanningRealm.InvitationLink.DeleteNotPossible'" />
      }
    }
  </div>
</div>
