<tp-page-frame
  *tpLoadingState="loadingState"
  [ultraSlim]="true"
  [title]="'Portal.CreateOrganization.LongTitle' | translate"
  [backLink]="'../..'">
  <label for="create_organization_name" class="form-label" translate="Portal.CreateOrganization.Form.Name"></label>
  <input
    id="create_organization_name"
    type="text"
    class="form-control"
    [tpE2E]="'create-organization-page-organization-name-field'"
    [formControl]="organizationName"
    [required]="true"
    [minlength]="1"
    [ngClass]="organizationName.dirty || organizationName.touched ? (organizationName.invalid ? 'is-invalid' : 'is-valid') : ''" />
  <div class="invalid-feedback" translate="Portal.CreateOrganization.Form.NameInvalid"></div>
  <div class="valid-feedback" translate="Portal.CreateOrganization.Form.NameValid"></div>

  <hr />

  <div class="form-text d-flex flex-row align-items-center">
    <i class="bi bi-info-circle"></i>
    <span class="ms-2" translate="Portal.CreateOrganization.UserNotice"></span>
  </div>

  <hr />

  <div class="d-flex flex-row justify-content-end">
    <tp-action-button
      [tpE2E]="'create-organization-page-confirm-button'"
      [type]="'success'"
      [title]="'Portal.CreateOrganization.Submit'"
      [disabled]="organizationName.invalid"
      (buttonClick)="confirmButtonClicked()" />
  </div>
</tp-page-frame>
