@media (width >= 900px) {
  .background {
    background-color: #001a25;
    height: 100vh;
    margin: 0;
  }

  .identity-image {
    background: url('/assets/identity-image.jpg') center;
    background-size: cover;
    width: 300px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  .identity-content {
    width: 550px;
    min-height: 600px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-top: 2em !important;
  }

  .footer-links {
    font-size: 0.8em;
  }
}

@media (width <= 900px) {
  .background {
    background: url('/assets/identity-image.jpg') center;
    background-size: cover;
    height: 100vh;
    margin: 0;
  }

  .identity-image {
    display: none;
  }

  .identity-content {
    margin: 0 1em;
    border-radius: 0.75em;
  }

  .footer-links {
    font-size: 0.65em;
    margin-top: 3em;
  }
}
