$background-color: #1c1f19;
$background-image: 'identity-2025.04.jpg';
$content-width: 575px;

@media (width >= 900px) {
  .background {
    background-color: $background-color;
    height: 100vh;
    margin: 0;
  }

  .identity-image {
    background: url('/assets/' + $background-image) center;
    background-size: cover;
    width: 300px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  .identity-content {
    width: $content-width;
    min-height: 600px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-top: 2em !important;
  }

  .footer-links {
    font-size: 0.8em;
  }
}

@media (width <= 900px) {
  .background {
    background-color: $background-color;
    height: 100vh;
    margin: 0;
  }

  .identity-image {
    display: none;
  }

  .identity-content {
    width: min(calc(100vw - 4em), $content-width);
    border-radius: 0.75em;
  }

  .footer-links {
    font-size: 0.65em;
    margin-top: 3em;
  }
}
